.pcast-player button span {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.badge-podcast {
  background-color: transparent;
  border: 1px solid #eedcd8;
  color: #666;
  font-weight: normal;
  margin-left: 7px;
  margin-right: -5px;
  padding: 6px;
}

.pcast-player {
  background-color: #fafafa;
  border-radius: 5px;
  border: 4px double rgba(208, 156, 142, 0.32);
  padding: 15px 0px;
}

.pcast-player button {
  cursor: pointer;
}

.pcast-player button:focus {
  outline: none;
}

.pcast-player button.pcast-play,
.pcast-player button.pcast-pause {
  background: transparent;
  border: none;
  color: #333;
  font-size: 50px;
  padding-left: 4px;
}

.pcast-player .progress-wrapper div:first-child {
  padding-right: 0;
}

.pcast-player .progress-wrapper div:nth-child(2) {
  padding: 0;
}

.pcast-player .progress-wrapper .pcast-progress {
  margin-top: 4px;
  width: 100%;
}

.pcast-player .pcast-thumbnail {
  width: 95%;
}
