<!-- Instagram Widget -->
<div class="widget widget-instagram">
    <!-- Widget Title -->
    <h4 class="widget-title">
        Instagram Post
    </h4>
    <!-- End of Widget Title -->
    <!-- Widget Content -->
    <div class="widget-content">
        <ul class="insta-gallery">
            <li>
                <a href="#"><img src="{{'/images/sidebar/instagram/1.jpg' | prepend: site.baseurl | prepend: site.url }}" class="img-fluid"></a>
            </li>
            <li>
                <a href="#"><img src="{{'/images/sidebar/instagram/1.jpg' | prepend: site.baseurl | prepend: site.url }}" class="img-fluid"></a>
            </li>
            <li>
                <a href="#"><img src="{{'/images/sidebar/instagram/1.jpg' | prepend: site.baseurl | prepend: site.url }}" class="img-fluid"></a>
            </li>
            <li>
                <a href="#"><img src="{{'/images/sidebar/instagram/1.jpg' | prepend: site.baseurl | prepend: site.url }}" class="img-fluid"></a>
            </li>
            <li>
                <a href="#"><img src="{{'/images/sidebar/instagram/1.jpg' | prepend: site.baseurl | prepend: site.url }}" class="img-fluid"></a>
            </li>
            <li>
                <a href="#"><img src="{{'/images/sidebar/instagram/1.jpg' | prepend: site.baseurl | prepend: site.url }}" class="img-fluid"></a>
            </li>
        </ul>
        <!-- Instagram Follow Button -->
        <a href="#" class="btn btn-block btn-instagram">
            <i class="fa fa-instagram"></i> Follow Me
        </a>
    </div>
    <!-- End of Widget Content -->
</div>
<!-- End of Instagram Widget -->