<!-- Author Widget -->
<div class="widget widget-about">
    <!-- Widget Content -->
    <div class="widget-content">
        {% if author.gravatar %}
        <!-- Author Image -->
        <div class="author-image">
            <img src="{{ author.gravatar | prepend: site.baseurl | prepend: site.url }}" alt="{{ author.name }}" class="img-fluid">
        </div>
        {% endif %}
        <!-- Author Name -->
        <div class="author-name text-center">
            {{ author.name }}
        </div>
        <!-- Author Social Links -->
        <div class="author-social text-center">
            {% if author.facebook %} <a href="{{ author.facebook }}"><i class="fa fa-facebook"></i></a> {% endif %}
            {% if author.twitter %} <a href="{{ author.twitter }}"><i class="fa fa-twitter"></i></a> {% endif %}
            {% if author.instagram %} <a href="{{ author.instagram }}"><i class="fa fa-instagram"></i></a> {% endif %}
            {% if author.website %} <a href="{{ author.website }}"><i class="fa fa-globe"></i></a> {% endif %}
        </div>
        {% if author.bio %}
        <!-- Author Text -->
        <div class="author-text text-center">
            {{ author.bio }}
        </div>
        {% endif %}
    </div>
    <!-- End of Widget Content -->
</div>
<!-- End of Author Widget -->