<!-- Recent Post Widget -->
<div class="widget widget-recent-post">
    <!-- Widget Title -->
    <h4 class="widget-title">
        Recent Post
    </h4>
    <!-- End of Widget Title -->
    <!-- Widget Content -->
    <div class="widget-content">
        {% for post in site.posts limit:4 %}
        {% if post.url != page.url %}
        <!-- Single Post -->
        <div class="wrp-cover">
            <!-- Post Thumbnail -->
           {% if post.hero_image %}
                <div class="post-thumb">
                    <a href="{{ post.url | prepend: site.baseurl | prepend: site.url }}"><img src="{{ post.hero_image | prepend: site.baseurl | prepend: site.url }}" alt="{{ post.hero_image_alt }}" class="img-fluid"></a>
                </div>
            {% else %}
                <div class="post-thumb">
                    <a href="{{ post.url | prepend: site.baseurl | prepend: site.url }}"><img src="{{ '/images/podcast/default.jpg' | prepend: site.baseurl | prepend: site.url }}" class="img-fluid"></a>
                </div>
            {% endif %}
            <!-- Post Title -->
            <div class="post-title">
                <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <!-- End of Widget Content -->
</div>
<!-- End of Recent Post Widget -->