<footer>

<!-- copy-wrapper -->
<div class="copy-wrapper">
    <div class="container">
        <p class="copyright">© 2017 Stefan Wintermeyer - All Rights Reserved.</p>
        <ul class="socials right-socials">
            <li><a href="https://www.facebook.com/stefan.wintermeyer"><i class="mdi mdi-facebook"></i></a></li>
            <li><a href="https://twitter.com/wintermeyer"><i class="mdi mdi-twitter"></i></a></li>
            <li><a href="https://www.instagram.com/wintermeyer/"><i class="mdi mdi-instagram"></i></a></li>
        </ul>
    </div>
</div>
<!-- end copy-wrapper -->
</footer>
