<!-- Footer -->
<footer class="bg-black small text-center text-white-50">
    <div class="container">
        Copyright &copy; Your Website 2019
    </div>
</footer>
<script src="{{ "/assets/js/jquery.min.js" | prepend: site.baseurl | prepend: site.url}}"></script>
<script src="{{ "/assets/js/bootstrap.bundle.min.js" | prepend: site.baseurl | prepend: site.url}}"></script>
<script src="{{ "/assets/js/jquery.easing.min.js" | prepend: site.baseurl | prepend: site.url}} "></script>
<script src="{{ "/assets/js/grayscale.js" | prepend: site.baseurl | prepend: site.url}}"></script>
</body>

</html>