<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand" href="{{"/" | relative_url }}">Home</a>

    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{"/ratgeber" | relative_url }}">Ratgeber</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{"/posts" | relative_url }}">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.mehr-schulferien.de">mehr-schulferien.de</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
