
<script src="https://cdn.podlove.org/web-player/embed.js"></script>

<div id="podlove"></div>

<script>
    podlovePlayer('#podlove', {
        title: '{{ page.title }}',
        subtitle: '{{ page.subtitle }}',
        summary: '{{ page.teaser }}',
        publicationDate: '{{ page.publication_date }}',
        poster: '{{ site.baseurl }}/assets/{{ page.podcast.cover_image }}',
        show: {
            title: '{{ site.title }}',
            subtitle: '{{ site.description }}',
            summary: '{{ site.description }}',
            poster: '{{ site.baseurl }}/assets/images/podcasts/cover-2000x2000.jpg',
            url: 'https://www.reisepassnummer.de'
        },
        duration: '{{ page.podcast.duration }}',
        chapters: [
          {% for chapter in page.podcast.chapters %}
            { start:"{{ chapter[1].start }}", title: '{{ chapter[1].title }}'},
          {% endfor %}
        ],
        audio: [{
          url: '{{ site.baseurl }}/assets/podcasts/{{ page.date | date: '%Y' }}/{{ page.podcast.m4a.file_name }}',
          mimeType: 'audio/mp4',
          size: {{ page.podcast.m4a.file_size }},
          title: 'Audio MP4'
        }, {
          url: '{{ site.baseurl }}/assets/podcasts/{{ page.date | date: '%Y' }}/{{ page.podcast.mp3.file_name }}',
          mimeType: 'audio/mpeg',
          size: {{ page.podcast.mp3.file_size }},
          title: 'Audio MP3'
        }],
        contributors: [{
          name: 'Stefan Wintermeyer',
          avatar: 'https://gravatar.com/avatar/bf17ce921cca4b00b18381abea305c50',
          role: { id: '1', slug: 'team', title: 'Team' },
          group: { id: '1', slug: 'onair', title: 'On Air' },
          comment: null
        }]
    });
</script>