<div class="share">
    <h4>
        Plattformen
    </h4>
    <ul>
        <li class="ml-1 mr-1">
            <a href="https://podcasts.apple.com/de/podcast/reisepassnummer/id1350502461">
                Apple Podcasts
            </a>
        </li>

        <li class="ml-1 mr-1">
            <a href="https://open.spotify.com/show/4DLyBfvs4f8vUHO6RRMIZQ">
                Spotify
            </a>
        </li>
    </ul>
</div>

<div class="share">
    <h4>
        Feeds
    </h4>
    <ul>
        <li class="ml-1 mr-1">
            <a href="https://www.reisepassnummer.de/feeds/mp3.xml">
                MP3
            </a>
        </li>

        <li class="ml-1 mr-1">
            <a href="https://www.reisepassnummer.de/feeds/m4a.xml">
                M4A
            </a>
        </li>

    </ul>
</div>
