<!-- Author Box -->
<div class="post-about-author-box">
    {% if author.gravatar %}
    <div class="author-avatar">
        <img src="{{ author.gravatar | prepend: site.baseurl | prepend: site.url }}" alt="{{ author.name }}" class="img-fluid">
    </div>
    {% endif %}
    <div class="author-desc">
        <h5> {{ author.name }}</h5>
        <div class="description">
            On recommend tolerably my belonging or am. Mutual has cannot beauty indeed now sussex merely you. It possible no husbands jennings ye offended packages pleasant he.
        </div>
        <div class="social-icons">
            {% if author.facebook %} <a href="{{ author.facebook }}"><i class="fa fa-facebook"></i></a> {% endif %}
            {% if author.twitter %} <a href="{{ author.twitter }}"><i class="fa fa-twitter"></i></a> {% endif %}
            {% if author.instagram %} <a href="{{ author.instagram }}"><i class="fa fa-instagram"></i></a> {% endif %}
            {% if author.website %} <a href="{{ author.website }}"><i class="fa fa-globe"></i></a> {% endif %}
        </div>
    </div>
</div>
<!-- End of Author Box -->