<!-- Sidebar-->
<div class="col-lg-4">
    <div class="sidebar">

        <!-- About widget-->
        <aside class="widget">
            <div class="widget-title">Stefan Wintermeyer</div>

            <div class="about-widget">
                {% image_tag /assets/stefan-wintermeyer_500x500.jpg | Stefan Wintermeyer | rounded-circle %}
                <p>Gelegenheits Reisepodcaster. Beruflich und privat auf Reisen. Mal mehr, mal weniger. Mit Frau und Kindern oder alleine.</p>
                <a href="https://www.wintermeyer.de" class="btn-read-more mt-2">Private Homepage <i class="fa fa-angle-right" aria-hidden="true"></i></a>
            </div>
        </aside>

        <!-- Social widget-->
        {% include widgets/social_widget.html %}
    </div>
</div>
<!-- Sidebar end-->
