<section>
    <div class="main-slider basic-slider">
      {% for item in site.ratgeber limit : 3 %}
        <div class="main-slide">
            <img src="{{ item.slider_image }}" alt="{{ item.hero_image_alt }}" />
            <div class="slide-title">
                <a class="cat-text" href="{{ item.url | prepend: site.baseurl | replace: '//', '/' }}" title="">{{ item.subtitle }}</a>
                <h2><a href="{{ item.url | prepend: site.baseurl | replace: '//', '/' }}" title="">{{ item.title }}</a></h2>
                <ul class="meta"><li><a href="standard-post.html" title="">{{ item.inserted_at | date: '%d. %B %Y' }}</a></li></ul>
            </div>
        </div><!-- Slide -->
      {% endfor %}
    </div><!-- Slider -->
</section>
