<p>
  <a class="btn-podcast-apple"
    href="https://podcasts.apple.com/de/podcast/reisepassnummer/id1350502461"><img
      src="/assets/img/DE_Apple_Podcasts_Listen_Badge_RGB.svg"></a>
</p>
<p>
  <a class="btn-podcast-apple"
    href="https://open.spotify.com/show/4DLyBfvs4f8vUHO6RRMIZQ"><img
      src="/assets/img/spotify-podcast-badge-blk-wht-165x40.svg"></a>
</p>
<p>
  <a class="btn-podcast-apple" href="/feeds/mp3.xml"
    ><i
      class="fas fa-podcast"></i> <span>RSS-Feed (MP3)</span></a>
</p>