<!-- Navigation Bar-->
<header id="topnav">

    <div class="container">
        <a href="#" class="logo-mobile">
        </a>
        <div class="menu-extras">
            <div class="menu-item">
            </div>
        </div>

        <div id="navigation">

            <!-- Navigation Menu-->
            <ul class="navigation-menu">

                <li>
                    <a href="/">Home</a>
                </li>

                <li class="has-submenu">
                  <a href="/ratgeber/">Ratgeber</a>
                  <span class="menu-arrow"></span>
                  <ul class="submenu">
                    {% for post in site.posts %}
                      {% if post.categories contains "Ratgeber" %}
                        <li>
                          <a href="{{ post.url }}">{{ post.title }}</a>
                        </li>
                      {% endif %}
                    {% endfor %}
                  </ul>
                </li>

                <li class="has-submenu">
                  <a href="/hotels/">Hotels</a>
                  <span class="menu-arrow"></span>
                  <ul class="submenu">
                    {% for post in site.posts %}
                      {% if post.categories contains "Hotel" %}
                        <li>
                          <a href="{{ post.url }}">{{ post.title }}</a>
                        </li>
                      {% endif %}
                    {% endfor %}
                  </ul>
                </li>

                <li class="has-submenu">
                  <a href="/schiffe/">Schiffe</a>
                  <span class="menu-arrow"></span>
                  <ul class="submenu">
                    {% for post in site.posts %}
                      {% if post.categories contains "Schiff" %}
                        <li>
                          <a href="{{ post.url }}">{{ post.title }}</a>
                        </li>
                      {% endif %}
                    {% endfor %}
                  </ul>
                </li>

                <li class="has-submenu">
                  <a href="/posts/">Blog</a>
                  <span class="menu-arrow"></span>
                  <ul class="submenu">
                    {% for post in site.posts %}
                      {% unless post.categories contains "Schiff" %}
                      {% unless post.categories contains "Hotel" %}
                      {% unless post.categories contains "Ratgeber" %}
                        <li>
                          <a href="{{ post.url }}">{{ post.title }}</a>
                        </li>
                      {% endunless %}
                      {% endunless %}
                      {% endunless %}
                    {% endfor %}
                  </ul>
                </li>

                <li>
                    <a href="/impressum.html">Impressum</a>
                </li>

            </ul>
            <!-- End navigation menu-->
        </div>
    </div>
</header>
<!-- End Navigation Bar-->
