---
layout: default
premalink: podcast
---
{% include default-author.html %}
<!-- Page title -->
<div class="page-title">
    <div class="container">
        <h2>{{ page.title }}</h2>
    </div>
</div>
<!-- End of Page title -->
<div class="container pt-120 pb-120">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <div class="post-details-cover">
                <!-- Post Thumbnail -->
                <div class="post-thumb-cover">
                    {% if page.hero_image %}
                        <div class="post-thumb">
                            <img src="{{ page.hero_image | prepend: site.baseurl | prepend: site.url }}" alt="{{ page.hero_image_alt }}" class="img-fluid">
                        </div>
                    {% endif %}
                    <!-- Post Meta Info -->
                    <div class="post-meta-info">
                        {% for category in page.categories %}
                            <!-- Category -->
                            <span class="cats">
                                <a href="#">{{ category }}</a>
                            </span>
                        {% endfor %}
                        <!-- Title -->
                        <div class="title">
                            <h2>{{ page.title }}</h2>
                            {% if page.subtitle %}
                                <p>{{ page.subtitle }}</p>
                            {% endif %}
                        </div>
                        <!-- Meta -->
                        <ul class="nav meta align-items-center">
                            <li class="meta-author">
                                <img src="{{ author.gravatar | prepend: site.baseurl | prepend: site.url }}" alt="{{ author.name }}" class="img-fluid"> {{ author.name }} </li>
                            <li class="meta-date">{{ page.date | date: '%d %b %Y' }}</li>
                        </ul>
                    </div>
                    <!-- End of Post Meta Info -->

                </div>
                <!-- End oF Post Thumbnail -->
                <!-- Post Content -->
                <div class="post-content-cover my-drop-cap">
                    {{ page.content }}
                </div>

                {% for tag in post.tags %}
                <!-- Tags -->
                <div class="post-all-tags">
                    <a href="#">{{ tag[0] }}</a>
                </div>
                <!-- End of Tags -->
                {% endfor %}

                {% include post-author-box.html %}

            </div>
        </div>
    </div>
</div>


