---
layout: default
premalink: podcast
---
{% include default-author.html %}
<!-- Page title -->
<div class="page-title">
    <div class="container">
        <h2>Podcast</h2>
    </div>
</div>
<!-- End of Page title -->
<div class="container pt-120 pb-120">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <div class="post-details-cover post-has-audio-thumb">
                <!-- Post Thumbnail -->
                <div class="post-thumb-cover">
                    <div class="post-thumb">
                        <iframe allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/315461526&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
                    </div>
                    <!-- Post Meta Info -->
                    <div class="post-meta-info">
                        {% for category in post.categories %}
                            <!-- Category -->
                            <span class="cats">
                                <a href="#">{{ category }}</a>
                            </span>
                        {% endfor %}
                        <!-- Title -->
                        <div class="title">
                            <h2>{{ page.title }}</h2>
                        </div>
                        <!-- Meta -->
                        <ul class="nav meta align-items-center">
                            <li class="meta-author">
                                <img src="{{ author.gravatar | prepend: site.baseurl | prepend: site.url }}" alt="{{ author.name }}" class="img-fluid"> {{ author.name }} </li>
                            <li class="meta-date">{{ page.date | date: '%d %b %Y' }}</li>
                        </ul>
                    </div>
                    <!-- End of Post Meta Info -->
                </div>
                <!-- End oF Post Thumbnail -->
                <!-- Post Content -->
                <div class="post-content-cover my-drop-cap">
                    {{ page.content }}
                </div>

                {% for tag in post.tags %}
                <!-- Tags -->
                <div class="post-all-tags">
                    <a href="#">{{ tag[0] }}</a>
                </div>
                <!-- End of Tags -->
                {% endfor %}

                {% include post-author-box.html %}

            </div>
        </div>
    </div>
</div>