---
layout: default
title: Blog
---
<!-- Page title -->
<div class="page-title">
    <div class="container">
        <h2>Blog</h2>
    </div>
</div>
<!-- End of Page title -->
<div class="container pt-120 pb-90">
    <div class="row">
        <div class="col-lg-8 pb-50">
            <div class="row">
                <div class="col-sm-12">
                    {% for post in site.posts %}
                    <!-- Post -->
                    <div class="post-default">
                        {% if post.hero_image %}
                        <div class="post-thumb">
                            <a href="{{ post.url | prepend: site.baseurl | prepend: site.url }}"><img src="{{ post.hero_image | prepend: site.baseurl | prepend: site.url }}" alt="{{ post.hero_image_alt }}" class="img-fluid"></a>
                        </div>
                        {% else %}
                            <div class="post-thumb">
                                <a href="{{ post.url | prepend: site.baseurl | prepend: site.url }}"><img src="{{ '/assets/img/blog/default.jpg' | prepend: site.baseurl | prepend: site.url }}" class="img-fluid"></a>
                            </div>
                        {% endif %}
                        <div class="post-data">
                            {% for category in post.categories %}
                                <!-- Category -->
                                <span class="cats"><a href="#">{{ category }}</a></span>
                             {% endfor %}
                            <!-- Title -->
                            <div class="title">
                                <h2><a href="{{ post.url | prepend: site.baseurl | prepend: site.url }}">{{ post.title }}</a></h2>
                            </div>
                            <!-- Post Desc -->
                            <div class="desc">
                                <p>
                                   {{ post.teaser_text | strip_html | truncatewords: 50 }}
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- End of Post -->
                     {% endfor %}
                </div>
            </div>
            {% include pagination.html %}
        </div>
        <div class="col-lg-4">
            {% include sidebar.html %}
        </div>
    </div>
</div>