---
layout: post
---

<!-- Post-->
<article class="post">
    <div class="text-center post-header">
        <a class="badge badge-custom" href="#" title="">Lifestyle</a>
        <h2 class="post-title"><a href="standard-post.html" title="">Runaway A Road Adventure</a></h2>
        <a href="standard-post.html" title="" class="post-date">Augus 12, 2017</a>
    </div>

    <div class="post-preview">
        <a href="blog-single.html"><img src="images/blog/blog-1.jpg" alt="" class="img-fluid rounded"></a>
    </div>

    <div class="blog-detail-description">
        <p>Donec eleifend accumsan nibh eu efficitur. Vivamus lacinia ut turpis egestas convallis. Quisque nec accumsan justo. Maecenas auctor in nulla nec tincidunt. Pellentesque rutrum molestie tortor, ut egestas risus commodo a. Praesent a orci nec libero fringilla euismod eu id massa. Nunc eget bibendum odio, sed sodales eros.Vivamus lacinia, mi eu ultrices mattis.</p>

        <p>Donec eleifend accumsan nibh eu efficitur. Vivamus lacinia ut turpis egestas convallis. Quisque nec accumsan justo. Maecenas auctor in nulla nec tincidunt. Pellentesque rutrum molestie tortor, ut egestas risus commodo a. Praesent a orci nec libero fringilla euismod eu id massa. Nunc eget bibendum odio, sed sodales eros.Vivamus lacinia, mi eu ultrices mattis.</p>

        <blockquote class="blockquote text-center">
            <h6 class="mb-0 blockquote-text">Praesent consectetur vel dui sed molestie. Aliquam imperdiet cursus dapibus. Quisque vestibulum blandit tellus, nec volutpat turpis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</h6>
            <footer class="blockquote-footer mt-2">Someone famous in <cite title="Source Title">Source Title</cite></footer>
        </blockquote>

        <div class="post-preview">
            <a href="blog-single.html"><img src="images/blog/blog-1.jpg" alt="" class="img-fluid rounded"></a>
        </div>

        <p>Quisque nec accumsan justo. Maecenas auctor in nulla nec tincidunt. Pellentesque rutrum molestie tortor, ut egestas risus commodo a. Praesent a orci nec libero fringilla euismod eu id massa. Nunc eget bibendum odio, sed sodales eros.Vivamus lacinia, mi eu ultrices mattis.</p>

        <div class="mt-5">
            <h6>Tags:</h6>
            <div class="tagcloud">
                <a href="#">logo</a>
                <a href="#">business</a>
                <a href="#">agency</a>
            </div>
        </div>

        {% include post-author-box.html %}
        {% include artikel-empfehlungen.html %}
    </div>

</article>
<!-- Post end-->
