---
layout: default
---
{% assign post = site.posts | sort: date | reverse %}
{% assign podcast = site.podcast | sort: date | reverse %}
{% assign merge = post | concat: podcast %}
{% assign all = merge | sort: date | reverse %}
{% include default-author.html %}
<!-- post with sidebar -->
<div class="container pt-40 pb-90">
    <div class="row">
        <div class="col-lg-8">
            <!-- Popular Post -->
            <div class="row">
                <div class="col-sm-12">
                    {% for item in all %}
                    <!-- Latest Post -->
                    <div class="post-default">
                        <div class="post-data order-md-1">
                            {% for category in item.categories %}
                            <!-- Category -->
                            <span class="cats"><a href="#">{{ category }}</a></span>
                            {% endfor %}
                            <!-- Title -->
                            <div class="title">
                                <h2><a href="{{ item.url | prepend: site.baseurl | prepend: site.url }}">{{ item.title }}</a></h2>
                            </div>
                            <!-- Post Meta -->
                            <ul class="nav meta align-items-center">
                                <li class="meta-author">
                                    <img src="{{ author.gravatar | prepend: site.baseurl | prepend: site.url }}" class="img-fluid">
                                    {{ author.name | capitalize }}
                                </li>
                                <li class="meta-date">{{ item.date | date: '%b %d, %Y' }}</li>
                            </ul>
                            <div class="row">
                                <div class="col-sm-6">
                                    <!-- Post Desc -->
                                    <div class="desc">
                                        <p>
                                            {{ item.teaser_text | strip_html | truncatewords: 80 }}
                                        </p>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="post-thumb">
                                        <a href="{{ item.url | prepend: site.baseurl | prepend: site.url }}">
                                            {% if item.hero_image %}
                                            <img src="{{ item.hero_image | prepend: site.baseurl | prepend: site.url }}" alt="{{ item.hero_image_alt }}" class="img-fluid">
                                            {% else %}
                                            <img src="{{ '/images/podcast/default.jpg' | prepend: site.baseurl | prepend: site.url }}" class="img-fluid">
                                            {% endif %}
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <!-- Read More Button -->
                            <a href="{{ item.url | prepend: site.baseurl | prepend: site.url }}" class="btn btn-primary">View More</a>
                        </div>
                    </div>
                    <!-- End of Post -->
                    {% endfor %}
                </div>
            </div>
            <!-- End of Popular Post  -->
            <!-- All Post Link -->
            <div class="pt-40 pb-40 text-center">
                <a class="btn btn-primary" href="{{ "/blog" | prepend: site.baseurl | prepend: site.url }}">View All Post</a> &nbsp;&nbsp;&nbsp;
                <a class="btn btn-primary" href="{{ "/podcast" | prepend: site.baseurl | prepend: site.url }}">View All Podcast</a>
            </div>
            <!-- End of All Post Link -->
        </div>
        <div class="col-lg-4">
            {% include sidebar.html %}
        </div>
    </div>
</div>
<!-- end of post with sidebar -->