---
title:  "Neustadt an der Weinstrasse mit Kindern"
subtitle: "Ein Familienausflug in die Pfalz."
description: "Mit der Familie zwei Tage nach Neustadt an der Weinstrasse."
teaser_text: "2 Tage in der Pfalz. Vom alla hopp Abenteuerspielplatz bis zum Hambacher Schloss."
inserted_at: 2018-04-11 14:56:16 +0100
updated_at: 2018-04-11 14:56:16 +0100
categories: Deutschland Familie Podcast
hero_image: '/assets/2018/04/11/neustadt/pfalz-weinanbau-impression.jpg'
hero_image_alt: 'Foto eines Weinberges mit Dorf im Hintergrund'
layout: default


podcast_file: '/assets/podcasts/2018-04-11-neustadt-an-der-weinstrasse.mp3'
podcast_cover: '/assets/podcasts/cover/2018-04-11-neustadt-an-der-weinstrasse.jpg'
podcast_summary: "2 Tage in der Pfalz. Vom alla hopp Abenteuerspielplatz bis zum Hambacher Schloss."
podcast_subtitle: "Neustadt an der Weinstrasse mit Kindern"
duration: "21:16"
length: "20487149"
explicit: "no"
keywords: "Deutschland, Neustadt, Pfalz, Familie, Travelblog"
block: "no"
voices: "Stefan Wintermeyer"
---

<section class="section">
  <div class="container">
    <div class="row">
      <!-- Content-->
      <div class="col-lg-8">

        <!-- Post-->
        <article class="post">
            <div class="text-center post-header">
                {% for category in page.categories %}
                <a class="badge badge-custom" href="#" title="">{{ category }}</a>
                {% endfor %}

                <h1 class="post-title">{{ page.title }}</h1>
                <p>{{ page.subtitle }}</p>

                <a href="standard-post.html" title="" class="post-date">{{ page.inserted_at | date: '%d. %B %Y' }}</a>
            </div>

            <div class="post-preview">
               {% if page.hero_image == blank %}
                 <img src="/images/blog/blog-1.jpg" alt="" class="img-fluid rounded">
               {% else %}
                 <img src="{{ page.hero_image }}" alt="{{ page.hero_image_alt }}" class="img-fluid rounded">
               {% endif %}
            </div>

            <div class="blog-detail-description">
              <p>
                Ostern 2018 sind wir für ein paar Tage in die <a href="https://de.wikipedia.org/wiki/Pfalz_(Region)">Pfalz</a> gefahren (Region im Süden des Landes Rheinland-Pfalz in Südwestdeutschland).
                Genauer gesagt nach Neustadt an der Weinstrasse. Untergekommen
                sind wir in einer Ferienwohnung des Restaurants
                <a href="http://www.haardter-winzer.com">Haardter Winzer</a>.
                Ganz genau in der Ferienwohnung Nr. 7
                (<a href="https://www.airbnb.de/rooms/12428501">airbnb.de Link</a>)
                für ca. 120 Euro die Nacht (2 Erwachsene und 2 Kinder). Das
                Restaurant ist sehr gut und zu empfehlen. Die Ferienwohnung ist
                auch sehr gut, allerdings nicht 100% fehlerfrei. So hat die
                Geschirrspülmaschine nicht einmal problemlos funktioniert (das Gepiepse ist dann auch nervig). Aber
                trotzdem würden wir wieder dort übernachten. Wer lieber ein
                Hotel bucht, dem empfehle ich das <a href="http://www.panorama-hotel.eu">Panorama Hotel am Rosengarten</a>.
                Das ist für Neustädter Verhältnisse eine Bettenburg, aber die
                Zimmer und das Preis-Leistungs-Verhältnis sind gut.
                Ein Highlight ist der Frühstücksraum in einer der oberen Etagen.
                Von dort hat man einen herlichen Blick über Neustadt.
              </p>
              {% include widgets/podcast_player.html %}
              <p>
                In der Pfalz gibt es viel zu sehen und zu besuchen. Wir haben
                uns auf Neustadt und Umgebung beschränkt. Mit Kinder unterwegs
                zu sein, bedeutet natürlich auch immer ein kindergerechtes
                Programm zu haben. Ein paar Ideen und Stationen möchte ich in
                diesem Betrag mit andere Eltern teilen.
              </p>
              <h2>alla hopp</h2>
              <p>
                Als erstes waren wir im <a href="http://alla-hopp.de/19x-alla-hopp/19-alla-hopp-standorte/ilbesheim/">alla hopp Park in Ilbesheim</a>.
                Mit dem Auto ist der in gut 20 Minuten von Neustadt aus zu
                erreichen. Auf 18.500 qm ersteckt sich eine großartige Anlage.
                Wenn man sie beschreiben soll, dann kommt man am besten
                mit "sehr grosser Abenteuerspielplatz" hin. Auf der Webseite steht
                "generationsübergreifende Bewegungs- und Begegnungsanlagen".
              </p>
              <p>
                Die Anlage ist sehr familienfreundlich. Es gibt Bereiche und
                Spielgeräte für alle Alterklassen. Und was besonders wichtig ist:
                WCs und Wasserspender. Für Elektrofahrräder gibt es sogar eine
                Ladestation.
              </p>
              <p>
                Insgesamt gibt es 19 alla hopp Anlagen. Wer mal in der Pfalz
                ist, sollte auf jeden Fall mal auf
                <a href="http://alla-hopp.de">http://alla-hopp.de</a> nachschauen
                und einen Besuch einplanen.
              </p>

              <div class="row">
                <div class="col-sm-6">
                  <article class="related-post">
                    <div class="post-preview">
                      <img src="/assets/2018/04/11/neustadt/L1000932.jpg" alt="alla hop Anlage" class="img-fluid rounded">
                    </div>
                    <div class="post-header">
                        <h6>Ein Teil der alla hop Anlage.</h6>
                    </div>
                  </article>
                </div>
                <div class="col-sm-6">
                  <article class="related-post">
                    <div class="post-preview">
                      <img src="/assets/2018/04/11/neustadt/L1000994.jpg" alt="Kind rutscht die Rutsche runter" class="img-fluid rounded">
                    </div>
                    <div class="post-header">
                        <h6>Die große Rutschanlage bringt Spaß für die ganze Familie.</h6>
                    </div>
                  </article>
                </div>
              </div>

              <h2>Teufelstisch</h2>
              <p>
                Der <a href="https://de.wikipedia.org/wiki/Teufelstisch_(Hinterweidenthal)">Teufelstisch</a>
                ist ein 14 m hoher, an einen Tisch erinnernder
                Pilzfelsen im deutschen Teil des Wasgaus (südlichen Pfälzerwald).
              </p>
              <p>
                Vom Parkplatz sind es 300m Luftlinie zum Teufelstisch. Die ersten 200m führen
                über einen Wanderweg. Die letzten 100m über eine im Boden eingelassene
                Holztreppe (das ist dann nichts mehr für Kinderwagen).
              </p>
              <p>
                Am Felsen können Kinder klettern und Eidechsen beobachten. Hört
                sich langweilig an, war aber bei unseren beiden ein voller
                Erfolg.
              </p>
              <p>
                Hinter dem Parkplatz gibt es eine Gaststätte. Die sah eher
                mittelmässig aus. Dahinter wieder fängt eine Art Abenteuerspielplatz
                an. Nicht so groß wie die alla hopp Anlage, aber auch schön und
                ebenfalls kostenlos.
              </p>

              <div class="row">
                <div class="col-sm-4">
                  <article class="related-post">
                    <div class="post-preview">
                      <img src="/assets/2018/04/11/neustadt/IMG_2330.jpg" alt="Blick auf den Teufelstisch vom Tal aus." class="img-fluid rounded">
                    </div>
                    <div class="post-header">
                        <h6>Vom Tal aus sieht der Teufelstisch gar nicht so imposant aus. Im Fordergrund sieht man den Spielplatz und die sehr lange Rutsche.</h6>
                    </div>
                  </article>
                </div>
                <div class="col-sm-4">
                  <article class="related-post">
                    <div class="post-preview">
                      <img src="/assets/2018/04/11/neustadt/IMG_2289.jpg" alt="Der Teufelstisch" class="img-fluid rounded">
                    </div>
                    <div class="post-header">
                        <h6>Der Teufelstisch (im Vordergrund meine beiden Kinder)</h6>
                    </div>
                  </article>
                </div>
                <div class="col-sm-4">
                  <article class="related-post">
                    <div class="post-preview">
                      <img src="/assets/2018/04/11/neustadt/IMG_2318.jpg" alt="Eidechse" class="img-fluid rounded">
                    </div>
                    <div class="post-header">
                        <h6>Eidechse. Davon gibt es ein paar am Teufelstisch.</h6>
                    </div>
                  </article>
                </div>
              </div>


              <h2>Wanderung zur Wolfsburg</h2>
              <p>
                Die <a href="https://de.wikipedia.org/wiki/Wolfsburg_(Burg)">Wolfsburg</a> ist eine Ruine am westlichen Ortseingang von
                Neustadt. Von unserer Unterkunft in <a href="https://de.wikipedia.org/wiki/Haardt_(Neustadt)">Haardt</a>
                mussten wir nur eine Strasse hoch gehen und schon waren wir auf
                einem schönen Wanderweg zur Wolfsburg.
              </p>
              <p>
                Wandern und Kinder ist ja immer so eine Sache. Diese Strecke ist
                aber ok und auch Kinderwagen geeignet. Der Weg führt erst durch
                ein Stück Weinberg und dann durch den Wald. Das ganze steht
                und fällt natürlich mit dem Wetter.
              </p>
              <p>
                Auf der Ruine gibt es ausreichend Sitzgelegenheiten und Tische
                zum Picknicken. Es gibt aber keine Toilettenanlagen.
              </p>

              <h2>Hambacher Schloss</h2>
              <p>
                Das <a href="https://de.wikipedia.org/wiki/Hambacher_Schloss">Hambacher Schloss</a>
                ist ganz klar ein Klassiker in dieser Region (Stichwort
                <a href="https://de.wikipedia.org/wiki/Hambacher_Fest">Hambacher Fest</a> im Jahr 1832).
              </p>
              <p>
                Man kann mit dem Auto problemlos bis fast direkt zum Schloss fahren.
                Parken ist allerdings so eine Sache. Da muss man Glück und Nerven
                haben, da die Zufahrtsstrasse an der die Parkplätze sind eine
                Einbahnstrasse ist. Kaum sieht man das Ende der Strasse, ist
                es auch zu spät. Man kann nicht umdrehen, sondern muss im
                Zeifelsfall noch einmal einmal um den Berg fahren.
              </p>
              <p>
                Die ganze Anlage ist sehr gut gepfegt und ist problemlos mit
                dem Kinderwagen zu bewältigen. Es gibt auch eine zweistündige
                Führung. Die haben wir unseren Kindern aber erspart.
              </p>
              <p>
                Der Ausblick vom Hambacher Schloss alleine ist schon den
                Besuch wert.
              </p>

              <h2>Wissembourg (Weißenburg)</h2>
              <p>
                Zum Schluss haben wir noch einen kleinen Abstecher nach
                <a href="https://de.wikipedia.org/wiki/Wissembourg">Weißenburg</a>
                in Frankreich gemacht. Das ist ein kleiner (keine 8.000 Einwohner)
                Grenzort im Département <a href="https://de.wikipedia.org/wiki/Département_Bas-Rhin">Bas-Rhin</a>.
              </p>
              <p>
                Ich weiß es nicht genau, aber ich glaube Weißenburg lebt zu einem
                sehr großen Teil vom Tourismus. Das meine ich aber jetzt gar nicht
                böse. Es ist ein sehr schöner Ort mit alten verträumten Gebäuden
                und Geschäften. Eine Mauer geht um einen Teil der Stadt (daran
                kann man sehr schön spazieren gehen) und ein kleiner Fluss/Bach
                plätschert gemüttlich durch die Strassen.
              </p>
              <p>
                Auf jeden Fall sollte man sich dort mit
                <a href="https://de.wikipedia.org/wiki/Baguette">Baguettes</a> und
                <a href="https://de.wikipedia.org/wiki/Croissant">Croissants</a> eindecken.
                Es wird mir immer ein Rätsel bleiben, warum diese beiden Produkte
                in Frankreich so sehr viel besser schmecken, als in Deutschland.
              </p>

              <div class="row">
                <div class="col-sm-6">
                  <article class="related-post">
                    <div class="post-preview">
                      <img src="/assets/2018/04/11/neustadt/IMG_2357.jpg" alt="Strasse mit der Kirche St. Peter und Paul im Hintegrund." class="img-fluid rounded">
                    </div>
                    <div class="post-header">
                        <h6>Auf dem Weg zur Kirche St. Peter und Paul</h6>
                    </div>
                  </article>
                </div>
                <div class="col-sm-6">
                  <article class="related-post">
                    <div class="post-preview">
                      <img src="/assets/2018/04/11/neustadt/IMG_2359.jpg" alt="Der Bach" class="img-fluid rounded">
                    </div>
                    <div class="post-header">
                        <h6>Dieser Bach fließt durch die Ortschaft</h6>
                    </div>
                  </article>
                </div>
              </div>

              <div class="mt-5">
                <h6>Tags:</h6>
                <div class="tagcloud">
                  {% for category in page.categories %}
                  <a href="#">{{ category }}</a>
                  {% endfor %}
                </div>
              </div>

              {% include post-author-box.html %}
          </div>

      </article>
      <!-- Post end-->

      </div>
      <!-- Content end-->


<!-- Sidebar-->
<div class="col-lg-4">
    <div class="sidebar">
      <aside class="widget">
          <div class="widget-title">Infokasten</div>

          <div class="about-widget">
            <address>
              Stadtverwaltung<br>
              Marktplatz 1<br>
              67433 Neustadt an der Weinstraße
            </address>

            <a href="https://www.neustadt.eu"><img src="/assets/2018/04/11/neustadt/neustadt-eu-screenshot.png" alt="Screenshot der Homepage von Neustadt" class="img-fluid"></a>
            <a href="https://www.neustadt.eu" class="btn-read-more mt-2">www.neustadt.eu</a>

          </div>
      </aside>
      <!-- Social widget-->
      {% include widgets/social_widget.html %}
      </div>
</div>
<!-- Sidebar end-->



    </div>

  </div> <!-- end container -->
</section>
