---
title:  "Besuch im Zoo Neuwied"
subtitle: "Chimpansen, Seehunde, Känguru und freche Tiere im Streichelzoo"
description: ""
teaser_text: "Der Zoo Neuwied ist der größte Zoo in Rheinland-Pfalz. Wir haben ihn besucht und uns von Ziegen im Streichelzoo die Futtertüten klauen lassen."
inserted_at: 2018-03-12 20:12:16 +0100
updated_at: 2018-03-12 20:12:16 +0100
categories: Familie Kinder Deutschland Zoo Podcast
hero_image: '/assets/2018/03/12/zoo-neuwied/mittel/L1000657.jpg'
hero_image_alt: 'Eingang Zoo Neuwied'
layout: default


podcast_file: '/assets/podcasts/2018-03-12-zoo-neuwied.mp3'
podcast_cover: '/assets/podcasts/cover/2018-03-12-zoo-neuwied.jpg'
podcast_summary: "Der Zoo Neuwied ist der größte Zoo in Rheinland-Pfalz. Wir haben ihn besucht und uns von Ziegen im Streichelzoo die Futtertüten klauen lassen."
podcast_subtitle: "Besuch im Zoo Neuwied"
duration: "31:15"
length: "45061059"
explicit: "no"
keywords: "Family, Germany, Zoo, Travelblog"
block: "no"
voices: "Stefan Wintermeyer"
---

<section class="section">
  <div class="container">
    <div class="row">
      <!-- Content-->
      <div class="col-lg-8">

        <!-- Post-->
        <article class="post">
            <div class="text-center post-header">
                {% for category in page.categories %}
                <a class="badge badge-custom" href="#" title="">{{ category }}</a>
                {% endfor %}

                <h1 class="post-title">{{ page.title }}</h1>
                <p>{{ page.subtitle }}</p>

                <a href="standard-post.html" title="" class="post-date">{{ page.inserted_at | date: '%d. %B %Y' }}</a>
            </div>

            <div class="post-preview">
               {% if page.hero_image == blank %}
                 <img src="/images/blog/blog-1.jpg" alt="" class="img-fluid rounded">
               {% else %}
                 <img src="{{ page.hero_image }}" alt="{{ page.hero_image_alt }}" class="img-fluid rounded">
               {% endif %}
            </div>

            <div class="blog-detail-description">
              <p>
                Mein erster Zoobesuch war im Zoo Neuwied. Vor fast 40 Jahren.
                Aber das wollen wir jetzt mal nicht so genau ausrechnen. Der Zoo
                liegt im Ort
                <a href="https://de.wikipedia.org/wiki/Heimbach-Weis">Heimbach-Weis</a> (aka Heimbach),
                der mit 7.186 Einwohnern so klein ist, das man nie im Leben
                auf die Idee kommen würde, das hier der größte Zoo von Rheinland-Pfalz
                zu finden ist. Ist aber so. Und ich kann noch eins drauf legen:
                In Heimbach gibt es sogar einen Golfplatz. Aber das ist eine
                Geschichte für einen anderen Podcast.
              </p>
              <p>
                Bei eisigen Temperaturen habe ich mit meinen beiden Kindern
                den Zoo besucht. Dieser Podcast ist das Ergebnis. Viel Spass!
              </p>
              <p>

              {% include widgets/podcast_player.html %}

              <div class="row">
                <div class="col-sm-6">
                  <article class="related-post">
                    <div class="post-preview">
                      <img src="/assets/2018/03/12/zoo-neuwied/mittel/L1000617.jpg" alt="Streichelzoo" class="img-fluid rounded">
                    </div>
                    <div class="post-header">
                        <h6>Wie in jedem Streichelzoo gilt auch hier die einfache Regel: Kaum hat man kein Futter mehr, schon kann man die Tiere ohne Probleme streicheln. ;-)</h6>
                    </div>
                  </article>
                </div>
                <div class="col-sm-6">
                  <article class="related-post">
                    <div class="post-preview">
                      <img src="/assets/2018/03/12/zoo-neuwied/mittel/L1000653.jpg" alt="Schilder mit Erklärungen zu den Chimpansen" class="img-fluid rounded">
                    </div>
                    <div class="post-header">
                        <h6>Im ganzen Zoo finden sich Aufklapp-Bilder für Kinder mit Erklärungen. Hier beim Affen-Haus.</h6>
                    </div>
                  </article>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-6">
                  <article class="related-post">
                    <div class="post-preview">
                      <img src="/assets/2018/03/12/zoo-neuwied/mittel/L1000681.jpg" alt="Känguru" class="img-fluid rounded">
                    </div>
                    <div class="post-header">
                        <h6>Der Zoo Neuwied hat eine sehr große Känguru-Anlage.</h6>
                    </div>
                  </article>
                </div>
                <div class="col-sm-6">
                  <article class="related-post">
                    <div class="post-preview">
                      <img src="/assets/2018/03/12/zoo-neuwied/mittel/L1000717.jpg" alt="Kängarus" class="img-fluid rounded">
                    </div>
                    <div class="post-header">
                        <h6>Eine Kängaru-Familie in einem typisch deutschen Wald.</h6>
                    </div>
                  </article>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-6">
                  <article class="related-post">
                    <div class="post-preview">
                      <img src="/assets/2018/03/12/zoo-neuwied/mittel/L1000779.jpg" alt="Berberlöwenfamilie" class="img-fluid rounded">
                    </div>
                    <div class="post-header">
                        <h6>Berberlöwenfamilie</h6>
                    </div>
                  </article>
                </div>
                <div class="col-sm-6">
                  <article class="related-post">
                    <div class="post-preview">
                      <img src="/assets/2018/03/12/zoo-neuwied/mittel/L1000760.jpg" alt="Sibirischer Tiger" class="img-fluid rounded">
                    </div>
                    <div class="post-header">
                        <h6>Sibirischer Tiger</h6>
                    </div>
                  </article>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-6">
                  <article class="related-post">
                    <div class="post-preview">
                      <img src="/assets/2018/03/12/zoo-neuwied/mittel/L1000795.jpg" alt="Hasenstall" class="img-fluid rounded">
                    </div>
                    <div class="post-header">
                        <h6>Praxis von Dr. Hoppel ;-)</h6>
                    </div>
                  </article>
                </div>
                <div class="col-sm-6">
                  <article class="related-post">
                    <div class="post-preview">
                      <img src="/assets/2018/03/12/zoo-neuwied/mittel/L1000839.jpg" alt="Seehund wird gefüttert" class="img-fluid rounded">
                    </div>
                    <div class="post-header">
                        <h6>Ein Seehund wird gefüttert.</h6>
                    </div>
                  </article>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-6">
                  <article class="related-post">
                    <div class="post-preview">
                      <img src="/assets/2018/03/12/zoo-neuwied/mittel/L1000834.jpg" alt="Seehund-Training" class="img-fluid rounded">
                    </div>
                    <div class="post-header">
                        <h6>Seehund-Training</h6>
                    </div>
                  </article>
                </div>
                <div class="col-sm-6">
                  <article class="related-post">
                    <div class="post-preview">
                      <img src="/assets/2018/03/12/zoo-neuwied/mittel/L1000785.jpg" alt="Berberlöwe" class="img-fluid rounded">
                    </div>
                    <div class="post-header">
                        <h6>Berberlöwe</h6>
                    </div>
                  </article>
                </div>
              </div>

              <h2>Lösungen</h2>
              <p>
                Für alle gestressten Eltern hier die Lösung zum 2018er
                Gewinnspiel:
              </p>
              <table  class="table">
                <thead>
                  <tr>
                    <th scope="col">Nr.</th>
                    <th scope="col">Frage</th>
                    <th scope="col">Antwort</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1.</td>
                    <td>Welche Höchstgeschwindigkeit erreicht ein Gepard?</td>
                    <td>110-120 km/h</td>
                  </tr>
                  <tr>
                    <td>2.</td>
                    <td>Wie tief können Seehunde maximal tauchen?</td>
                    <td>200 m</td>
                  </tr>
                  <tr>
                    <td>3.</td>
                    <td>Mit wem sind Schimpansen näher verwandt?</td>
                    <td>Mit Menschen</td>
                  </tr>
                </tbody>
              </table>

              <div class="mt-5">
                <h6>Tags:</h6>
                <div class="tagcloud">
                  {% for category in page.categories %}
                  <a href="#">{{ category }}</a>
                  {% endfor %}
                </div>
              </div>

              {% include post-author-box.html %}
          </div>

      </article>
      <!-- Post end-->

      </div>
      <!-- Content end-->


<!-- Sidebar-->
<div class="col-lg-4">
    <div class="sidebar">
      <aside class="widget">
          <div class="widget-title">Infokasten</div>

          <div class="about-widget">
            <address>
              <strong>Zoo Neuwied</strong><br>
              Waldstraße 160<br>
              56566 Neuwied
            </address>
            <address style="white-space:nowrap;overflow:hidden;text-overflow:ellipsis">
              <strong>Telefon:</strong><br> <a href="tel:+49262290460">02622 - 90 46 0</a>
            </address>

            <a href="http://www.zooneuwied.de"><img src="/assets/2018/03/12/zoo-neuwied/screenshot-zooneuwied-homepage.png" alt="Screenshot der Festung Ehrenbreitstein Homepage" class="img-fluid"></a>
            <a href="http://www.zooneuwied.de" class="btn-read-more mt-2">www.zooneuwied.de</a>

          </div>
      </aside>

        <!-- Social widget-->
        {% include widgets/social_widget.html %}

        {% include responsive_ad.html %}
      </div>
</div>
<!-- Sidebar end-->



    </div>

  </div> <!-- end container -->
</section>
