---
title:  "Center Parcs Park Zandvoort"
subtitle: "Familienurlaub in einer Ferienhaussiedlung"
description: "Wir waren mit unseren zwei Kindern im Center Parcs Park Zandvoort. War nicht ganz so schön, wie die Werbung es verspricht."
teaser_text: "Die Center Parcs Werbung spricht
wohl fast jede Familie an: Glückliche Kinder spielen an der frischen Luft oder im
Schwimmbad. Immer schönes Wetter. Die Eltern lachen entspannt in die Kamera
und sitzen abends auch gerne mal bei einem Glas Wein auf der Terrasse des
Ferienhauses. Die sehen alle hübsch und modern aus. Von Innen und Aussen. Um
es vorweg zu nehmen: Es war dann für uns nicht ganz so schön wie in der
Werbung suggeriert."
inserted_at: 2018-01-08 09:12:16 +0100
updated_at: 2018-01-08 09:12:16 +0100
categories: Hotel Holland Park Familie Nordsee
permalink: /hotels/center_parcs_park_zandvoort.html
hero_image: '/assets/hotels/center_parcs_park_zandvoort/20140813-L1012106_1200x576.jpg'
hero_image_alt: 'Photo by why kei on Unsplash'
layout: default
---

<section class="section">
  <div class="container">
    <div class="row">
      <!-- Content-->
      <div class="col-lg-8">

        <!-- Post-->
        <article class="post">
            <div class="text-center post-header">
                {% for category in page.categories %}
                <a class="badge badge-custom" href="#" title="">{{ category }}</a>
                {% endfor %}

                <h1 class="post-title">{{ page.title }}</h1>
                <p>{{ page.subtitle }}</p>

                <a href="standard-post.html" title="" class="post-date">{{ page.inserted_at | date: '%d. %B %Y' }}</a>
            </div>

            <div class="post-preview">
               {% if page.hero_image == blank %}
                 <img src="/images/blog/blog-1.jpg" alt="" class="img-fluid rounded">
               {% else %}
                 <img src="{{ page.hero_image }}" alt="{{ page.hero_image_alt }}" class="img-fluid rounded">
               {% endif %}
            </div>

            <div class="blog-detail-description">

              <p>
                Die <a href="https://www.centerparcs.de">Center Parcs</a> Werbung spricht
                wohl fast jede Familie an: Glückliche Kinder spielen an der frischen Luft oder im
                Schwimmbad. Immer schönes Wetter. Die Eltern lachen entspannt in die Kamera
                und sitzen abends auch gerne mal bei einem Glas Wein auf der Terrasse des
                Ferienhauses. Die sehen alle hübsch und modern aus. Von Innen und Aussen. Um
                es vorweg zu nehmen: Es war dann für uns nicht ganz so schön wie in der
                Werbung suggeriert. Allerdings hatten wir uns auch für eine Anlage entschieden,
                die von Centerparcs selbst mit nur 3 von 5 möglichen Sternen bewertet wird.
              </p>
              <p>
                Wir hatten uns schon ein paar Jahre vorgenommen, mal in einen Center Parc zu
                fahren und 2014 gab es keine Argumente mehr es nicht zu machen. Da meine
                Frau mal wieder nach Holland an die Nordsee wollte, ist unsere Wahl auf die
                <a
                href="https://www.centerparcs.de/de-de/niederlande/fp_ZV_ferienpark-park-zandvoort">Zandvoort-Anlage</a>
                gefallen. Mit dem Auto leicht erreichbar. Auf dem Weg ein paar Windmühlen
                sehen.
              </p>

              <blockquote class="blockquote text-center">
                <h6 class="mb-0 blockquote-text">
                  Urlaub im Ferienpark von Center Parcs in Zandvoort aan Zee: Holland erleben im Ferienhaus an der Küste! Freizeitbad Aqua Mundo.
                </h6>
                <footer class="blockquote-footer mt-2"><cite title="Source Title">Center Parcs Werbung</cite></footer>
              </blockquote>

              <h2>Woraus besteht eine Center Parcs Anlage?</h2>

              <p>
                Center Parcs Anlagen haben immer das gleiche Grundprinzip: Eine
                Ferienhaussiedlung mit einem zentralen Schwimmbad am Eingang.
              </p>

              <h3>Ferienhäuser</h3>
              <p>
                Die kleinen Häuser sind als Siedlung angelegt. Auf der Webseite
                <a href="https://www.centerparcs.de">www.centerparcs.de</a> kann man
                sich im Voraus anschauen, wo welches Haus steht. In der Mitte der Zandvoort-Anlage
                ist ein kleiner See.
              </p>
              <div class="row">
                <div class="col-sm-6">
                  <article class="related-post">
                    <div class="post-preview">
                      <img src="/assets/hotels/center_parcs_park_zandvoort/20140813-L1012108_1200x800.jpg" alt="Unser Ferienhaus von vorne." class="img-fluid rounded">
                    </div>

                    <div class="post-header">
                        <h6>Die Frontansicht unseres Ferienhauses.</h6>
                    </div>
                  </article>
                </div>
                <div class="col-sm-6">
                  <article class="related-post">
                    <div class="post-preview">
                      <img src="/assets/hotels/center_parcs_park_zandvoort/20140813-L1012106_1200x800.jpg" alt="Unser Ferienhaus von hinten." class="img-fluid rounded">
                    </div>

                    <div class="post-header">
                        <h6>Die Rückansicht unseres Ferienhauses.</h6>
                    </div>
                  </article>
                </div>
              </div>
              <p>
                Ich war von der Inneneinrichtung der Ferienhäuser in der Kategorie Comfort
                enttäuscht. Das ist ein Mix aus Jugendherberge, IKEA und Campingplatz. Die
                Betten waren eine Katastrophe. Das Bad ... sagen wir mal ... karg und kühl. Die
                Küchen war ok, aber auch nicht gerade festlich eingerichtet. Nach unserer
                Reise sagte man uns, das Zandvoort ein eher alter Center Parc ist und die
                Einrichtung nicht für andere Parks repräsentativ sei.
              </p>
              <p>
                Im Wohnzimmer gibt es einen Kamin und im Supermarkt des Parks Feuerholz
                und Grillanzünder. Ich habe vergeblich versucht die Atmosphäre des
                Wohnbereiches mit einem Feuer zu verbessern. Am Ende war immer noch alles
                trostlos, stank dafür aber zusätzlich Qualm.
              </p>

              <div class="row">
                <div class="col-sm-6">
                  <article class="related-post">
                    <div class="post-preview">
                      <img src="/assets/hotels/center_parcs_park_zandvoort/IMG_2220_1200x810.jpg" alt="" class="img-fluid rounded">
                    </div>

                    <div class="post-header">
                        <h6>Blick vom Wohnzimmerbereich raus zur Terrasse. Bei schönem Wetter konnten unsere Kinder auf der angrenzenden Düne spielen.</h6>
                    </div>
                  </article>
                </div>
                <div class="col-sm-6">
                  <article class="related-post">
                    <div class="post-preview">
                      <img src="/assets/hotels/center_parcs_park_zandvoort/20140812-L1012043_1200x810.jpg" alt="" class="img-fluid rounded">
                    </div>

                    <div class="post-header">
                        <h6>Bei Regen war es dann weniger schön.</h6>
                    </div>
                  </article>
                </div>
              </div>

              <p>
                Habe ich schon erwähnt, das die Betten eine Katastrophe waren? Ja, habe ich.
                Wiederhole ich aber hier noch mal. Ich kann nicht verstehen wie man an so was
                sparen kann. Ich hätte besser auf einer Isomatte geschlafen (hatte natürlich
                keine dabei).
              </p>

              <p>
                Status am ersten Tag: Kinder happy. Erwachsene nicht so.
              </p>

              <h3>Dünen</h3>
              <p>
                Die Anlage liegt in unmittelbarer Nähe zum Meer. Zwischen den Häusern finden
                sich kleine Mini-Dünen. Darauf wachsen dafür typische Gräser. Für kleine
                Kinder eine sehr schöne Spielmöglichkeit.
              </p>

              <div class="row">
                <div class="col-sm-6">
                  <article class="related-post">
                    <div class="post-preview">
                      <img src="/assets/hotels/center_parcs_park_zandvoort/20140813-L1012123_1200x810.jpg" alt="" class="img-fluid rounded">
                    </div>

                    <div class="post-header">
                        <h6>Gras auf den Dünen.</h6>
                    </div>
                  </article>
                </div>
                <div class="col-sm-6">
                  <article class="related-post">
                    <div class="post-preview">
                      <img src="/assets/hotels/center_parcs_park_zandvoort/20140813-L1012114_1200x810.jpg" alt="" class="img-fluid rounded">
                    </div>

                    <div class="post-header">
                        <h6>Unserer Kinder spielen an der Düne hinter unserem Haus.</h6>
                    </div>
                  </article>
                </div>
              </div>

              <h3>Aqua Mundo</h3>
              <p>
                Das Herz der Anlage ist ein Schwimmbad mit dem Namen Aqua Mundo. So ist das in
                jedem Center Parcs Park. Das Aqua Mundo in Zandvoort ist meiner Meinung nach
                zu klein. Wenn es mal regnet, gehen alle Gäste des Parks ins Schwimmbad. Man
                steht sich gegenseitig auf den Füssen. Das fängt in den zu klein
                dimensionierten Umkleidekabinen an und hört im Schwimmbadbereich auf. Ich habe
                dafür Null Verständnis. Bei der Planung einer solchen Anlage kann man leicht
                ausrechnen, wie viele Personen maximal im Schwimmbad sein werden. Für diese
                Anzahl an Personen, dann auch ausreichend Platz einzuplanen ist kein
                Kunststück. Daran zu sparen ist am falschen Ende gespart.
              </p>
              <p>
                Die Anlage an sich ist schon ein wenig älter. Vor 20 Jahren war das bestimmt
                mal alles state of the art. Heute kann man damit aber keinen mehr locken.
              </p>
              <p>
                Dafür das in der Werbung das "Erlebnis"-Schwimmbad so hoch gelobt wird,
                war ich sehr enttäuscht. Im Notfall kann man einen verregneten Tag mal dort
                verbringen, aber großen Spaß macht das nicht. Wir haben schönere Schwimmbäder
                in unserer Heimatregion.
              </p>

              <h3>Supermarkt</h3>
              <p>
                Im Hauptgebäude (da wo auch das Aqua Mundo ist) befindet sich ein kleiner
                Supermarkt. Nichts besonderes, aber ausreichend. Im Zeifelsfall kann man aber
                auch jederzeit problemlos mit dem Auto in einen größeren Supermarkt fahren. Je
                nach Datentarif, sollte man zu Hause auf die Google-Map-App (<a
                href="https://itunes.apple.com/de/app/google-maps-gps-navigation/id585027354">iOS
                Link</a>) im Handy noch die dortige Landkarte als offline Karte abspeichern.
              </p>

              <h3>Restaurant</h3>
              <p>
                Im Hauptgebäude (aka Market Dome) gibt es auch noch ein Restaurant. Da wird
                dort nicht essen waren, kann ich nichts zur Qualität sagen.
              </p>

              <h3>Spielplatz</h3>
              <p>
                Es gibt einen Spielplatz mit Sand und einigen Geräten. Nichts besonders, aber
                auch nicht schlecht. Am Hauptgebäude gibt es auch eine kleine Minigolfanlage.
                Man kann sich auch Fahrräder und Kettcars ausleihen.
              </p>

              <h3>Kleiner Bauernhof</h3>
              <p>
                Im Center Parcs Park Zandvoort gibt es eine kleine Bauernhofanlage. Nichts
                großes. Ein paar Schweine, Schafe und Ziegen. Man kann die Tiere anfassen und
                füttern. Nett für alle Stadtkinder.
              </p>

              <div class="row">
                <div class="col-sm-6">
                  <article class="related-post">
                    <div class="post-preview">
                      <img src="/assets/hotels/center_parcs_park_zandvoort/20140809-L1011970_1200x800.jpg" alt="Schwein auf dem kleinen Bauernhof" class="img-fluid rounded">
                    </div>

                    <div class="post-header">
                        <h6>Der kleine Bauernhof</h6>
                    </div>
                  </article>
                </div>
                <div class="col-sm-6">
                  <article class="related-post">
                    <div class="post-preview">
                      <img src="/assets/hotels/center_parcs_park_zandvoort/IMG_2221_1200x800.jpg" alt="Spielplatz" class="img-fluid rounded">
                    </div>

                    <div class="post-header">
                        <h6>Spielplatz</h6>
                    </div>
                  </article>
                </div>
              </div>

              <h2>Buchung und Check-In</h2>
              <p>
                Die Buchung erfolgt schmerzfrei über die Webseite. Es gibt auch immer mal
                wieder Sonderangebote.
              </p>
              <p>
                Zu einem Center Parcs Park reist man typischerweise mit dem Auto an.
                Allerdings bedarf das ein wenig Planung, da es bestimmte Check-In-Uhrzeiten
                gibt. Nur zu diesen Terminen kann man mit dem Auto auf die Anlage und vor das
                eigene Ferienhaus fahren um das Gepäck ausladen. Danach fährt man wieder aus
                der Anlage raus und parkt in einem Meer aus Kombis und anderen
                Familienkutschen auf dem angrenzenden Parkplatz. In medizinischen
                Ausnahmefällen darf man das Auto auch ständig vorm Ferienhaus parken. Das muss
                man aber vorher anmelden. Das die ganze Anlage, ausser an diesen An- und
                Abreisezeiten, autofrei ist, macht sie natürlich sehr familienfreundlich.
              </p>
              <p>
                Der Check-In-Bereich im Hauptgebäude ist eine Mischung aus
                Freibad-Kasse, Jugendherberge, Campingplatz und Hotel. Beim
                Check-In gibt es einen Schlange, da zu dem festgelegten
                Zeitfenster sehr viele Familien gleichzeitg anreisen. Wir
                mussten ungefähr 30 Minuten warten. Das Einchecken verlief
                problemlos. Man wird u.a. gefragt, ob man morgens Brötchen
                geliefert bekommen will (die werden dann vor die Haustür gelegt
                und sind das Geld nicht wert). Es wird erklärt, wo der kleine
                Supermarkt und wo das Schwimmbad ist (im gleichen Hauptgebäude).
                Am Ende bekommt man die Schlüssel zum Ferienhaus.
              </p>
              <p>
                Wir hatten beim Ferienhaus Pech. Es war sehr schattig und direkt
                neben großen Mühltonnen. Es war keine Mühlkippe, aber es war
                auch nicht richtig einladend. Meine Frau war ziemlich sauer und
                ist zurück zum Check-In. Nach einigem hin- und her hat man uns
                dann ein anderes Ferienhaus gegeben. Objektiv gesehen hat sich
                das Personal Mühe gegeben unsere Situation zu lösen. Allerdings
                handelt es sich bei einer Center Parcs Anlage auch nicht um ein
                5-Sterne-Deluxe-Hotel. Die Möglichkeiten des Personals sind
                begrenzt. Der Service ist vergleichbar mit dem eines
                Campingplatzes.
              </p>

              <h2>Meer</h2>
              <p>
                Man kann problemlos von jedem Haus zu Fuss zum Meer gehen. Je nach dem in
                welchem Haus man wohnt dauert das 5-15 Minuten. Es sollte jedem klar sein, das
                die Nordsee nicht das Mittelmeer und schon gar nicht die Karibik ist. Meist
                ist es windig und kühl. Selten lädt das Wasser wirklich zum Schwimmen ein.
              </p>
              <p>
                Trotzdem ist Sandstrand natürlich für jedes Kind immer ein Highlight.
              </p>

              <h2>Fazit</h2>
              <p>
                Die Anlage war nichts für uns. Wir sind am 3. Tag vorzeitig abgereist. Ich
                empfand die Ferienhäuser und große Teile der Anlage als trostlos. Ich kenne
                aber Familien, die immer wieder gerne in Center Parcs Urlaub machen.
                Vielleicht haben wir mit der Anlage in Zandvoort einfach nur Pech gehabt.
              </p>
              <p>
                Wir hatten einige glückliche Momente in der Anlage. Es ist nicht so, das wir
                uns da von morgens bis abends unwohl gefühlt haben. Aber es kam für meine Frau
                und mich kein wirkliches Urlaubsgefühl auf. Ich bin morgens mit
                Rückenschmerzen aufgestanden, weil die Betten so mies waren. Die gelieferten
                Frühstücksbrötchen waren auch nicht der Hammer. Und wenn man dann bei
                schlechtem Wetter (ist halt keine Karibik) in ein überfülltes Schwimmbad geht,
                dann ist die Stimmung schnell unten.
              </p>
              <p>
                Was ich Center Parcs hoch anrechne: Nach der Abreise haben wir per E-Mail den
                üblichen Feedback-Fragebogen erhalten. Als Antwort darauf haben wir ca. 30%
                Reisepreisrückerstatttung bekommen. Ungefragt! Davor ziehe ich den Hut. Die
                meisten Firmen hätten sich nicht mal unsere Antworten angeschaut.
              </p>

              <h2>Empfehlung?</h2>
              <p>
                hmmmm... nicht gerade uneingeschränkt. Wie gesagt, ich kenne Familien die
                immer wieder in Center Parcs fahren und dort glücklich Urlaub machen. Für mich
                ist zumindestens dieser Park nichts. Schauen Sie sich bitte kritisch die Fotos
                auf der <a
                href="https://www.centerparcs.de/de-de/niederlande/fp_ZV_ferienpark-park-zandvoort">Center
                Parcs Webseite zu Zandvoort</a> an. Zusätzlich hilft auch die Bilder-Suche bei
                Google (<a
                href="https://www.google.de/search?q=center+parcs+zandvoort&source=lnms&tbm=isch&sa=X&ved=0ahUKEwiamdiX_bPYAhWPC-wKHUSkC5cQ_AUICygC&biw=1198&bih=682">Link
                zur Bilder-Suche zu Zandvoort bei Google</a>). Stellen Sie sich das alles bei
                nicht so schönem Wetter vor. Wenn es dann für Sie OK ist, dann werden Sie
                wahrscheinlich dort eine schöne Zeit haben.
              </p>
              <p>
                Wenn Sie - wie ich - ein alter Sack sind, der es gerne mal ein wenig
                komfortabler hat, dann rate ich von dieser Anlage ab. Lieber das Geld sparen
                und einmal weniger, dafür aber schöneren Urlaub in einem besseren Hotel machen.
              </p>

              <div class="mt-5">
                <h6>Tags:</h6>
                <div class="tagcloud">
                  {% for category in page.categories %}
                  <a href="#">{{ category }}</a>
                  {% endfor %}
                </div>
              </div>

              {% include post-author-box.html %}
          </div>

      </article>
      <!-- Post end-->

      </div>
      <!-- Content end-->


<!-- Sidebar-->
<div class="col-lg-4">
    <div class="sidebar">

      <aside class="widget">
          <div class="widget-title">Infokasten</div>

          <div class="about-widget">
            <address>
              <strong>Park Zandvoort</strong><br>Vondellan 60<br>2041 BE Zandvoort
            </address>
            <address>
              <strong>Telefonnummer:</strong><br> <a href="tel:+31 235 72 00 00">+31 235 72 00 00</a>
            </address>

            <a href="https://www.centerparcs.de/de-de/niederlande/fp_ZV_ferienpark-park-zandvoort
"><img src="/assets/hotels/center_parcs_park_zandvoort/homepage_screenshot.png" alt="Screenshot der Center Parcs Homepage" class="img-fluid"></a>
            <a href="https://www.centerparcs.de/de-de/niederlande/fp_ZV_ferienpark-park-zandvoort
" class="btn-read-more mt-2">centerparcs.de/de-de/niederlande/fp_ZV_ferienpark-park-zandvoort</a>

          </div>
      </aside>

        <!-- About widget-->
        <aside class="widget">
            <div class="widget-title">Liste aller Center Parcs</div>

            <div class="about-widget">
               <h3>Deutschland</h3>
               <ul>
                 <li><a href="https://www.centerparcs.de/de-de/deutschland/fp_BT_ferienpark-park-bostalsee">Park Bostalsee</a></li>
                 <li><a href="https://www.centerparcs.de/de-de/deutschland/fp_BS_ferienpark-bispinger-heide">Bispinger Heide</a>
                 <li><a href="https://www.centerparcs.de/de-de/deutschland/fp_SL_ferienpark-park-hochsauerland">Park Hochsauerland</a>
                 <li><a href="https://www.centerparcs.de/de-de/deutschland/fp_HE_ferienpark-park-eifel">Park Eifel</a>
                 <li><a href="https://www.centerparcs.de/de-de/deutschland/fp_BK_ferienpark-park-nordseekuste">Park Nordseeküste</a>
               </ul>

               <h3>Niederlande</h3>
               <ul>
                 <li><a href="https://www.centerparcs.de/de-de/niederlande/fp_HB_ferienpark-het-heijderbos">Het Heijderbos</a>
                 <li><a href="https://www.centerparcs.de/de-de/niederlande/fp_EH_ferienpark-de-eemhof">De Eemhof</a>
                 <li><a href="https://www.centerparcs.de/de-de/niederlande/fp_PZ_ferienpark-port-zelande">Port Zélande</a>
                 <li><a href="https://www.centerparcs.de/de-de/niederlande/fp_ZV_ferienpark-park-zandvoort">Park Zandvoort</a>
                 <li><a href="https://www.centerparcs.de/de-de/niederlande/fp_MD_ferienpark-het-meerdal">Het Meerdal</a>
                 <li><a href="https://www.centerparcs.de/de-de/niederlande/fp_HH_ferienpark-de-huttenheugte">De Huttenheugte</a>
                 <li><a href="https://www.centerparcs.de/de-de/niederlande/fp_KV_ferienpark-de-kempervennen">De Kempervennen</a>
                 <li><a href="https://www.centerparcs.de/de-de/niederlande/fp_LH_ferienpark-limburgse-peel">Limburgse Peel</a>
                 <li><a href="https://www.centerparcs.de/de-de/niederlande/fp_SR_ferienpark-parc-sandur">Parc Sandur</a>
              </ul>
              <h3>Belgien</h3>
              <ul>
                <li><a href="https://www.centerparcs.de/de-de/belgien/fp_VM_ferienpark-de-vossemeren">De Vossemeren</a>
                <li><a href="https://www.centerparcs.de/de-de/belgien/fp_EP_ferienpark-erperheide">Erperheide</a>
                <li><a href="https://www.centerparcs.de/de-de/belgien/fp_AR_ferienpark-les-ardennes">Les Ardennes</a>
             </ul>
             <h3>Frankreich</h3>
             <ul>
               <li><a href="https://www.centerparcs.de/de-de/frankreich/fp_TF_ferienpark-les-trois-forets">Les Trois Forêts</a>
               <li><a href="https://www.centerparcs.de/de-de/frankreich/fp_BD_ferienpark-le-bois-aux-daims">Le Bois aux Daims</a>
               <li><a href="https://www.centerparcs.de/de-de/frankreich/fp_LA_ferienpark-le-lac-d-ailette">Le Lac d'Ailette</a>
               <li><a href="https://www.centerparcs.de/de-de/frankreich/fp_BF_ferienpark-les-bois-francs">Les Bois-Francs</a>
               <li><a href="https://www.centerparcs.de/de-de/frankreich/fp_CH_ferienpark-les-hauts-de-bruyeres">Les Hauts de Bruyères</a>
               <li><a href="https://www.centerparcs.de/de-de/frankreich/fp_VN_ferienpark-villages-nature-paris">Villages Nature Paris</a>
            </ul>

            </div>
        </aside>


        <!-- Social widget-->
        {% include widgets/social_widget.html %}

      </div>
</div>
<!-- Sidebar end-->



    </div>

  </div> <!-- end container -->
</section>
