---
title:  "Queen Victoria"
subtitle: "Von Southampton nach Hamburg"
description: ""
teaser_text: "In zwei Tage mit dem Ocean Liner Queen Elizabeth von Southampton nach Hamburg. Mit Dresscode durch das Sturmtief Burglind."
inserted_at: 2018-01-25 09:12:16 +0100
updated_at: 2018-01-25 09:12:16 +0100
categories: Schiff Cunard Podcast
permalink: /schiffe/queen-victoria.html
hero_image: '/assets/schiffe/queen-victoria/L1000403-1200x576.jpg'
hero_image_alt: 'Model der Queen Victoria'
layout: default


podcast_file: '/assets/podcasts/2018-01-25-queen-victoria.mp3'
podcast_cover: '/assets/podcasts/cover/2018-01-25-queen-victoria.jpg'
podcast_summary: "In zwei Tagen mit dem Ocean Liner Queen Elizabeth von Southampton nach Hamburg."
podcast_subtitle: "In 2 Tagen von Southampton nach Hamburg."
duration: "22:08"
length: "31940485"
explicit: "no"
keywords: "Cruise, Travel, Ship, Travelblog"
block: "no"
voices: "Stefan Wintermeyer"
---

<section class="section">
  <div class="container">
    <div class="row">
      <!-- Content-->
      <div class="col-lg-8">

        <!-- Post-->
        <article class="post">
            <div class="text-center post-header">
                {% for category in page.categories %}
                <a class="badge badge-custom" href="#" title="">{{ category }}</a>
                {% endfor %}

                <h1 class="post-title">{{ page.title }}</h1>
                <p>{{ page.subtitle }}</p>

                <a href="standard-post.html" title="" class="post-date">{{ page.inserted_at | date: '%d. %B %Y' }}</a>
            </div>

            <div class="post-preview">
               {% if page.hero_image == blank %}
                 <img src="/images/blog/blog-1.jpg" alt="" class="img-fluid rounded">
               {% else %}
                 <img src="{{ page.hero_image }}" alt="{{ page.hero_image_alt }}" class="img-fluid rounded">
               {% endif %}
            </div>

            <div class="blog-detail-description">
              <p>
                Es gibt zwei Arten von Kreuzfahrtschiffen: Ganz normale wie die
                in Deutschland allseits bekannten Aida-Schiffe und sogenannte
                Ocean Liner. Ein klassisches Kreuzfahrtschiff fährt eine Woche
                durch das Mittelmeer oder die Karibik und steuert dabei jeden
                Tag einen anderen Hafen an. Ein klassischer Ocean Liner fährt
                von Europa in die USA. Wie ein Bus nach
                Fahrplan. Die Überfahrt von New York nach Southampton in England
                dauert etwa 5 Tage und in dieser Zeit wird logischerweise kein
                Hafen angesteuert. Früher war das ein normales Reisemittel in
                die USA. Heute gibt es nur noch die Cunard Rederei (<a
                href="https://www.cunard.de">www.cunard.de</a>), die mit drei
                Schiffen (alle nach einer Englischen Königin benannt) diese
                Route halbwegs regelmässig fährt. Cunard fährt aber nicht nur
                diese Routen, sondern jedes Jahr über die ganze Welt (leider
                unbezahlbar - aber man wird ja mal träumen dürfen).
              </p>
              <p>
                Kreuzfahrtschiffe stellt man sich so vor, wie eine Folge aus <a
                href="https://de.wikipedia.org/wiki/Das_Traumschiff">"Das
                Traumschiff"</a> und Cunard Ocean Liner so, als wenn dort nur
                alter Geldadel, Russische Oligarschen, High Society und Royals
                aus England an Bord sind. Alle in gediegenen englischen Möbeln
                sitzend. Im  Hintergrund spielt jemand Klavier. Dicke Uhren bei
                den Männern und teilweise zu viel Botox bei den teilweise zu jungen
                Frauen. Stellt sich raus: Ist nicht so. Ich kann nicht für das
                ZDF-Traumschiff sprechen, aber die Passagiere der Queen Victoria
                sind recht normal. Es gibt schon 1-2 bunte Ausnahmen, aber nicht
                unangenehm. Das Durchschnittsalter der Passagiere ist allerdings
                höher als das auf einem AIDA-Schiff (vermute ich mal). Aber es
                gab auch jüngere Mitreisende und eine Familie mit Kleinkind. In
                der Bibliothek trafen sich sogar eine Hand voll Schüler, um
                Hausaufgaben zu machen. Aber im großen und ganzen scheint der
                typische Cunard-Kunde über 60 Jahre alt zu sein.
              </p>
              {% include widgets/podcast_player.html %}
              <p>
                Mich hat die Art der Atlantiküberquerung der Cunard Schiffe
                schon lange gereizt. Aber da waren auch immer viele Fragen: Was
                ist, wenn ich fünf Tage am Stück seekrank bin? Was macht man
                überhaupt fünf Tage auf einem Schiff mitten im Atlantik? Wie ist
                das Essen an Bord? Wie klein die Kabinen? Um diese und andere
                Fragen zu beantworten habe ich mich deshalb für eine kleine
                Test-Tour entschieden. Cunard bietet auf den Zubringerstrecken
                Southampton-Hamburg kleine Reise-Pakete mit zwei Übernachtungen an
                Bord an. Genau richtig, um ein Gefühl für diese Art der Reise zu
                bekommen. Am 03.01.2018 ging es los. Und Dank des Sturmtiefs <a
                href="https://de.wikipedia.org/wiki/Sturmtief_Burglind">Burglind</a>
                konnte ich dann auch direkt die Sache mit der Seekrankheit
                ausprobieren.
              </p>

              <div class="row">
                <div class="col-sm-4">
                  <article class="related-post">
                    <div class="post-preview">
                      <img src="/assets/schiffe/queen-victoria/L1000340-300x200.jpg" alt="Promenadendeck (Achtern) auf Deck 3" class="img-fluid rounded">
                    </div>
                  </article>
                  <article class="related-post">
                    <div class="post-preview">
                      <img src="/assets/schiffe/queen-victoria/L1000362-300x200.jpg" alt="Liegestühle auf dem Promenadendeck" class="img-fluid rounded">
                    </div>
                  </article>
                  <article class="related-post">
                    <div class="post-preview">
                      <img src="/assets/schiffe/queen-victoria/L1000255-300x200.jpg" alt="Pool" class="img-fluid rounded">
                    </div>
                  </article>
                </div>
                <div class="col-sm-4">
                  <article class="related-post">
                    <div class="post-preview">
                      <img src="/assets/schiffe/queen-victoria/L1000354-300x200.jpg" alt="Links ein Schiff im Ärmelkanal. Rechts das Promenadendeck." class="img-fluid rounded">
                    </div>
                  </article>
                  <article class="related-post">
                    <div class="post-preview">
                      <img src="/assets/schiffe/queen-victoria/L1000386-300x200.jpg" alt="Eingangsbereich" class="img-fluid rounded">
                    </div>
                  </article>
                  <article class="related-post">
                    <div class="post-preview">
                      <img src="/assets/schiffe/queen-victoria/L1000310-300x200.jpg" alt="Pool" class="img-fluid rounded">
                    </div>
                  </article>
                </div>
                <div class="col-sm-4">
                  <article class="related-post">
                    <div class="post-preview">
                      <img src="/assets/schiffe/queen-victoria/L1000328-300x200.jpg" alt="Promenadendeck" class="img-fluid rounded">
                    </div>
                  </article>
                  <article class="related-post">
                    <div class="post-preview">
                      <img src="/assets/schiffe/queen-victoria/L1000253-300x200.jpg" alt="Dame-Spiel an Deck" class="img-fluid rounded">
                    </div>
                  </article>
                  <article class="related-post">
                    <div class="post-preview">
                      <img src="/assets/schiffe/queen-victoria/L1000233-300x200.jpg" alt="Pool" class="img-fluid rounded">
                    </div>
                  </article>
                </div>
              </div>

              <h2>Dresscode</h2>
              <p>
                Bevor ich auf irgend ein anderes Thema eingehe, möchte ich zu
                erst ein Vorurteil ansprechen: Ja, in den Bordrestaurants
                herrscht nach 18:00 Uhr - mit Ausnahme des immer legeren Lido
                Restaurants - ein formaler Dresscode. Und ja, das bedeutet in
                den meisten Fällen einen Smoking für den Herren. Aber das
                bedeutet nicht, das man den ganzen Tag mit Smoking oder Anzug
                rumlaufen muss.
              </p>
              <p>
                Die meisten Mitreisenden freuen sich auf diese Abende. Sich
                schön anzuziehen gehört einfach dazu. Es ist etwas besonderes.
                Wer - wie ich auf dieser Reise - keine Lust dazu hat, der geht
                einfach ins Lido Restaurant. Und wer zwar Lust, aber keinen
                Smoking dabei hat, kann sich einen an Bord gegen Gebühr ausleihen.
              </p>
              <p>
                Tagsüber ziehen sich alle Passagiere normal an. Dabei muss man
                den Altersdurchschnitt und die soziale Herkunft berücksichtigen.
                Ein 70 jähriger hat halt eine andere Vorstellung von legerer
                Kleidung als ein 15 jähriger.
              </p>
              <p>
                Ich habe habe auf der ganzen Reise Jeans angezogen und mich
                damit wohl gefühlt. Beim nächsten mal würde ich wahrscheinlich
                einen Smoking fürs Abendessen mitnehmen. Alleine schon aus
                Neugierde.
              </p>
              <h3>Waschmaschinen an Bord</h3>
              <p>
                Wie im Hotel, gibt es auch auf der Queen Victoria einen
                kostenpflichtigen Wäschereiservice. Dreckige Wäsche in einen
                Wäschesack, einsammeln lassen, ein paar Stunden warten und schon
                ist alles frisch gewaschen und gebügelt zurück. Wer das Geld
                sparen will oder es einfach so gewohnt ist, der kann auch eine
                der vielen kostenlosen Waschmaschinen und Trockner für die
                Passagiere benutzen. Auf jedem Deck gibt es mindestens einen
                dieser kleinen Waschsalons. Die Benutzung und das Waschpulver
                sind kostenlos. Eine Bügelstation ist dort ebenfalls aufgebaut.
              </p>

              <h2>Buchung</h2>
              <p>
                Man kann sich auf der Webseite <a
                href="https://www.cunard.de">www.cunard.de</a> über die Reise
                informieren, aber es gibt keine Möglichkeit die Reise online fix
                zu buchen. Man kann nur eine Buchungsanfrage losschicken und
                wird dann vom Callcenter zurück gerufen. Buchung im Reisebüro
                geht auch, aber ich bin ja bekanntlich kein großer Fan von meist
                ahnungslosen Reisebüros. Deshalb habe ich via Callcenter
                gebucht. Dort wurde ich auch sehr gut beraten. Online-Buchung
                wäre mir trotzdem lieber gewesen, aber ich will mal nicht zu
                kleinlich sein.
              </p>
              <p>
                Ich habe eine Kabine der Kategorie BB gebucht. Das ist eine
                Einzelkabine mit Dusche und Balkon. Der <a
                href="https://www.cunard.de/fileadmin/Cunard/Public/Images/Kabinengrundrisse/Decksplan-Queen-Victoria_ab_2017.pdf">Deckplan
                ist als PDF online abrufbar</a>. Meine Kabinennummer war die
                7096.
              </p>
              <h3>Preis</h3>
              <p>
                Meine Kabine kostete 550 Euro (Smart Preis) inklusive Flug ab
                Deutschland und Transfer von London nach Southampton. Wer noch
                Flugmeilen übrig hat, kann bei Cunard auch ohne Flug für 200
                Euro weniger buchen. Und wer noch mehr sparen möchte, kann auch
                eine Innenkabine (sprich weder Balkon noch Fenster) buchen.
              </p>
              <p>
                Man bekommt also für 350 Euro zwei Übernachtungen in einem
                schwimmenden 5-Sterne Hotel mit Vollpension im Einzelzimmer mit
                Balkon (inkl. kostenlosem Unterhaltungsprogramm). 175 Euro pro
                Übernachtung. In vielen 5-Sterne Hotels braucht man Glück, um
                für diesen Preis ein Zimmer ohne Frühstück zu bekommen.
                Das Preis-/Leistungsverhältnis ist gut.
              </p>

              <h2>5-Sterne</h2>
              <p>
                Man versucht ja immer alles in dieses 5-Sterne-Schema
                unterzubringen. Die Queen Victoria fällt logischerweise in die
                5-Sterne-Kategorie. Nur gibt es innerhalb der 5-Sterne-Kategorie
                eine sehr große Bandbreite. Und ich will es nicht rosa-rot färben:
                Ein paar Schwächen gibt es.
              </p>
              <p>
                Bitte verstehen Sie mich nicht falsch, ich würde morgen wieder
                auf einem Cunard Schiff gehen. Aber die Queen Victoria kann
                nicht mit Top-5-Sterne Hotels mithalten. Beim Service gibt es zu
                große Schwankungen. Einmal ist der Service freundlich und ein
                anderes mal eher mau. Mal wird man direkt bedient und mal wartet
                man Ewigkeiten.
              </p>
              <p>
                Ich hatte drei mal fleckige Handtücher oder zerrissene
                Servietten. Nichts schlimmes, denn ich bin davon überzeugt, das die
                Handtücher und Servietten korrekt gewaschen worden sind. Aber
                der Person, die die Handtücher und Servietten gefalten bzw. ins
                Bad oder auf den Tisch gelegt hat, war es egal, ob ein Fehler
                vorlag. Vielleicht war sie auch überarbeitet. Das ich das drei
                mal bei nur zwei Übernachtungen hatte, ist ein Indiz für ein
                systematisches Problem. So was darf im 5-Sterne Segment nicht
                vorkommen.
              </p>
              <p>
                Ein Vorwurf? hmmm... für 175 Euro pro Übernachtung (mit
                Vollpension), kann man nicht Perfektionismus erwarten. Ich würde
                allerdings lieber 50 Euro pro Nacht mehr bezahlen und dafür
                einen besseren Service bekommen.
              </p>

              <h2>Transfer</h2>
              <p>
                Ich war beruflich in London und hatte deshalb einen Transfer von
                <a
                href="https://de.wikipedia.org/wiki/Victoria_Coach_Station">Victoria
                Coach Station</a> gebucht. Sonst wird man direkt am Flughafen
                abgeholt. Der Transfer wird von einem lokalen Dienstleister
                ausgeführt und war unspektakulär. Im Normalfall geht es per
                Reisebus nach Southampton. Da ich alleine war, ging es mit einer
                Mercedes E-Klasse gemütlich, aber auch ein wenig langweilig über
                die Autobahn. Die gut zwei Stunden ziehen sich.
              </p>

              <div class="row">
                <div class="col-sm-6">
                  <article class="related-post">
                    <div class="post-preview">
                      <img src="/assets/schiffe/queen-victoria/IMG_1905.jpg" alt="Blick aus dem Auto auf der Fahrt zum Terminal." class="img-fluid rounded">
                    </div>

                    <div class="post-header">
                      <h6>Ein erster Blick aus dem Auto auf die Queen Victoria</h6>
                    </div>
                  </article>
                </div>
                <div class="col-sm-6">
                  <article class="related-post">
                    <div class="post-preview">
                      <img src="/assets/schiffe/queen-victoria/IMG_1906.jpg" alt="Im Terminal." class="img-fluid rounded">
                    </div>

                    <div class="post-header">
                        <h6>Check-In Bereich. Eine Stunde in der Schlange stehen war kein Spaß.</h6>
                    </div>
                  </article>
                </div>
              </div>

              <h2>Check-In</h2>
              <p>
                Die Queen Victoria kann maximal 1.990 Passagiere befördern.
                Einige Passagiere machen Weltreisen.
                Andere -  wie ich - sind nur auf einer kurzen Strecke dabei. Die
                jeweils neuen Passagiere müssen innerhalb von 3-4 Stunden
                einchecken. Man kann sich leicht vorstellen, das das eine wenig
                königliche Prozedur ist. Fühlt sich an wie die Eco-Schlange am
                Flughafen zu einem vollen A380 Flug. Nur halt für 4 mal so viele
                Passagiere. Ich habe genau eine Stunde in der Schlange gestanden.
                Kein Weltuntergang. Aber auch nicht toll.
              </p>
              <p>
                Schweres Gepäck gibt man vorher auf (den Schildern folgen). Ich
                hatte nur Handgepäck dabei und das kann man so mitnehmen.
              </p>
              <p>
                Beim Check-In gibt man das vorher hoffentlich brav zu Hause
                ausgedruckte E-Ticket ab, zeigt seinen Reisepass und registiert
                eine Kreditkarte für an Bord anfallende Kosten. Wer keine
                Kreditkarte benutzen will, kann an Bord ein Cash-Deposit
                einzahlen und bei der Abreise die Differenz auch wieder in Cash
                abholen.
              </p>


              <div class="row">
                <div class="col-sm-6">
                  <p>
                    Man bekommt eine Key-Karte im Kredikartenformat, mit der man an
                    Bord bezahlen kann (wird entweder von der Kreditkarte oder vom
                    Cash-Deposit abgezogen) und die als Kabinenschlüssel fungiert.
                    Dazu noch einen faltbaren Deckplan, damit man seine Kabine auch
                    findet.
                  </p>
                  <p>
                    Mit der Key-Karte in der Hand kann man dann auf die Gangway zum
                    Schiff. Ein Moment, in dem ich die Größe der Queen Victoria
                    bestaunt habe. Am Eingang des Schiffs wird man dann begrüßt. Das
                    ist aber keine Traumschiff-Begrüßung. Alles eher normal und
                    nicht abgehoben. Man wird nicht vom Kapitän persönlich
                    per Handschlag begrüßt.
                  </p>
                </div>
                <div class="col-sm-6">
                  <article class="related-post">
                    <div class="post-preview">
                      <img src="/assets/schiffe/queen-victoria/IMG_1991-800x518.jpg" alt="Key-Karte der Queen Victoria" class="img-fluid rounded">
                    </div>

                    <div class="post-header">
                        <h6>Key-Karte der Queen Victoria.</h6>
                    </div>
                  </article>
                </div>
              </div>

              <p>
                Als erstes betritt man die dreistöckige Grand Lobby. Eine
                Harfe-Spielerin bespielte den Raum. Nett, aber auch nicht "Ohhh
                toll!". Rechts geht es dann zu den Aufzügen und Treppen.
              </p>

              <h2>Kabine</h2>
              <p>
                Die erste Ziffer der 4-stelligen Kabinennummer steht für
                das Deck. Hat man eine gerade Kabinennummer, dann ist die Kabine
                auf der Backbord-Seite (<a
                href="https://de.wikipedia.org/wiki/Backbord_und_Steuerbord">Wikipedia-Seite
                zu Backbord und Steuerbord</a>). Man bekommt sehr schnell ein
                Gefühl, wo Back und Steuerbord ist und wo man sich gerade
                auf dem Schiff befindet.
              </p>
              <iframe width="560" height="315" src="https://www.youtube.com/embed/GpYC2YydY2A" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
              <p>
                Es gibt viele verschiedene Kabinenarten und auch Suiten. Ich
                kann hier nur die Kabine beschreiben, in der ich untergebracht
                war (7096). Kabinen auf einem Schiff sind natürlich nicht mit
                Hotelzimmern vergleichbar. Es herscht weniger Platz und die
                Raumhöhe ist geringer. Das Bad in meiner Kabine errinnert ein
                wenig an ein Wohnmobil. Ist aber nicht schlimm. Es macht
                alles einen guten Eindruck. Hier kann man auch eine längere
                Reise gut aushalten.
              </p>

              <div class="row">
                <div class="col-sm-6">
                  <article class="related-post">
                    <div class="post-preview">
                      <img src="/assets/schiffe/queen-victoria/L1000178-800x533.jpg" alt="Foto der Kabine (Blick zum Balkon)" class="img-fluid rounded">
                    </div>

                    <div class="post-header">
                        <h6>Blick zum Balkon. Rechts sieht man die Couch. Links den Schreibtisch.</h6>
                    </div>
                  </article>
                </div>
                <div class="col-sm-6">
                  <article class="related-post">
                    <div class="post-preview">
                      <img src="/assets/schiffe/queen-victoria/L1000197-800x533.jpg" alt="Foto der Kabine (Blick vom Balkon)" class="img-fluid rounded">
                    </div>

                    <div class="post-header">
                        <h6>Blick vom Balkon in die Kabine.</h6>
                    </div>
                  </article>
                </div>
              </div>

              <h3>Zwei Klassen-System</h3>
              <p>
                Bei Cunard gibt es normale Passagiere (so wie ich in der Kabine
                7096) und besondere Passagiere. Diese besonderen Passagier der
                gehobenen Klassen können in für andere Passagiere gesperrte
                Bereiche (Restaurants, Bars und Aussenbereiche) gehen. Dabei
                gibt es noch einmal die zusätzliche Unterscheidung zwischen
                Zugang zum Queens Grill und Princess Grill Restaurant.
              </p>

              <h2>Restaurants</h2>
              <p>
                Erst mal die Restaurants, die für alle Passagiere zugänglich
                sind. Zwei Übernachtungen waren nicht genug, um alle Restaurants
                zu testen. Aus Bequemlichkeit habe ich mich deshalb immer für
                das legere Lido entschieden (kein Dresscode!). Im Nachhinein
                wahrscheinlich ein Fehler. Ein Grund mehr noch mal mit zufahren. ;-)
              </p>
              <h3>Britannia Restaurant</h3>
              <p>
                Das Britannia Restaurant erstreckt sich über zwei Decks und ist
                im Art déco Stil eingerichtet. Es ist das größte Restaurant an
                Bord und strahlt diese Größe auch aus. Ist aber immer noch nicht
                groß genug für alle Passagiere (klar bei fast 2.000). Deshalb
                wird abends in zwei Durchgängen (Sitzungen) gespeist. Die erste
                startet um 18:00 Uhr und die zweite um 20:30 Uhr. Es besteht ein
                Dresscode, der am Eingang des Restaurants ausgeschreiben ist.
              </p>
              <h3>Lido Restaurant</h3>
              <p>
                Das Lido ist ein Buffet-Restaurant für Frühstück, Mittag- und
                Abendessen (plus Mitternachtssnack für dringende
                Mitternacht-Notfälle). Es gibt keinen Dess-Code. Aber auch hier
                kann man abends nicht mit Badeklamotten und Sandalen rein. Aber
                an sonsten ist es sehr legere.
              </p>
              <p>
                Jetzt wird der intelligente Leser denken "Wennn der Wintermeyer
                nur im Lido gegessen hat, dann muss das ja super gut sein". Dem
                ist leider nicht so. Der Wintermeyer ist manchmal nur sehr
                pragmatisch. Das Essen im Lido hat etwas von einer großen Kantine.
                Es gibt sehr viel und man wird natürlich auch satt. Aber ich habe
                kein Hauptgericht gefunden, das mir so richtig gut geschmeckt hat.
                Der Service war auch nicht richtig gut. OK, aber nicht richtig gut.
              </p>
              <p>
                Die Softgetränke-Automaten errinnern an eine Autobahn-Raststätte.
              </p>
              <p>
                Wahrscheinlich würde ich morgen aber wieder ins Lido gehen. Es
                ist nicht schlecht. Es ist einfach nur auch nicht richtig gut.
              </p>

              <div class="row">
                <div class="col-sm-6">
                  <article class="related-post">
                    <div class="post-preview">
                      <img src="/assets/schiffe/queen-victoria/L1000217-800x533.jpg" alt="Foto der Kabine (Blick zum Balkon)" class="img-fluid rounded">
                    </div>

                  </article>
                  <article class="related-post">
                    <div class="post-preview">
                      <img src="/assets/schiffe/queen-victoria/L1000221-800x533.jpg" alt="Büfett im Lido" class="img-fluid rounded">
                    </div>
                  </article>
                  <article class="related-post">
                    <div class="post-preview">
                      <img src="/assets/schiffe/queen-victoria/L1000213-800x533.jpg" alt="Büfett im Lido" class="img-fluid rounded">
                    </div>
                  </article>
                </div>
                <div class="col-sm-6">
                  <article class="related-post">
                    <div class="post-preview">
                      <img src="/assets/schiffe/queen-victoria/L1000210-800x533.jpg" alt="Büfett im Lido" class="img-fluid rounded">
                    </div>
                  </article>
                  <article class="related-post">
                    <div class="post-preview">
                      <img src="/assets/schiffe/queen-victoria/L1000208-800x533.jpg" alt="Büfett im Lido" class="img-fluid rounded">
                    </div>
                  </article>
                  <article class="related-post">
                    <div class="post-preview">
                      <img src="/assets/schiffe/queen-victoria/L1000222-800x533.jpg" alt="Büfett im Lido" class="img-fluid rounded">
                    </div>
                  </article>
                </div>
              </div>


              <h3>Verandah Restaurant</h3>
              <p>
                War ich nicht drin. Kann ich nichts zu sagen.
              </p>
              <h3>Queens Grill Restaurant und Princess Grill Restaurant</h3>
              <p>
                War ich auch nicht drin, weil ich keinen Zugang dazu hatte.
              </p>

              <h2>Bars</h2>
              <p>
                An Bord der Queen Victoria muss keiner verdursten.
              </p>
              <h3>Golden Lion Pub</h3>
              <p>
                Nicht mein Ding. Ich mag englische Pubs nicht so. Davon abgesehen
                macht der Pub aber einen gemütlichen Eindruck.
              </p>
              <h3>Chart Room, Commodore Club und Midships Bar & Lounge</h3>
              <p>
                Ich fasse es zusammen: Immer eine sehr angenehme Atmosphäre.
                Kann man dort den ganzen Tag über sitzen und entweder was lesen,
                mit anderen Leuten erzählen oder einfach nur aus dem Fenster
                schauen. Tagsüber gibt es Kaffee, Tee und Co. Und wenn es später
                wird sehr leckere Cocktails. Bei Cocktails bin ich wählerisch
                und war vom Angebot und der Umsetzung zufrieden.
              </p>
              <h3>Sonstiges</h3>
              <p>
                Es gibt noch sehr viel mehr Bereiche. Die kann ich hier gar
                nicht alle aufzählen. Bitte schauen Sie einmal auf
                <a href="https://www.cunard.de/unsere-schiffe/queen-victoria/">www.cunard.de/unsere-schiffe/queen-victoria/</a>.
                Dort sind alle mit Fotos aufgeführt und beschrieben.
              </p>
              <p>
                Die öffentliche Bereiche sind alle einladend und alle gemütlich.
                Englischer Landhausstil.
              </p>

              <h2>Bibliothek</h2>
              <p>
                Die Bibliothek erstreckt sich über zwei Decks. Ich lese sehr
                gerne und deshalb war ich oft da. Beim ersten Besuch dachte ich
                "Na ja, das hätte ich mir jetzt größer vorgestellt". Aber dann
                wurde mir sehr klar, das 6.000 Bücher ne Menge Papier ist und
                ich die so schnell nicht durch gelesen bekomme. Natürlich kann
                eine Bibliothek nie groß genug sein und jede Buchhandlung hat
                mehr Auswahl, aber diese Bibliothek wird selbst für eine
                Weltreise mehr als genügend Lesestoff bereit halten.
              </p>
              <p>
                Es gibt verschiedene gemütliche Sitzgelegenheiten und am Fester
                auch Bereiche mit Schreibtischen, an denen man arbeiten kann.
              </p>
              <p>
                Man kann die Bücher dort lesen oder mit seiner Key-Karte auch
                ausleihen und wo anders lesen. Es gibt auch Hörbücher.
              </p>
              <p>
                Im Eingangsbereich der Bibliothek gibt es einen Aufsteller mit
                aktuellen Informationen und einem täglich wechselnden Rätsel.
              </p>

              <article class="related-post">
                <div class="post-preview">
                  <img src="/assets/schiffe/queen-victoria/L1000406-800x533.jpg" alt="Bücherreihe in der Bibliothek" class="img-fluid rounded">
                </div>

                <div class="post-header">
                    <h6>Wenn man kein Zugriff auf Google hat, dann findet man hier in der Bibliothek hilfe.</h6>
                </div>
              </article>

              <h2>TV, Radio und Internet</h2>
              <p>
                In der Kabine ist ein Fernseher an die Wand montiert. Es gibt
                eine Hand voll US- und UK-Satelitenprogramme. Zusätzlich gibt
                es noch eine handvoll Radioprogramme, die über den Fernseher
                ausgegeben werden.
              </p>
              <p>
                Bei den meisten Fluggesellschaften gibt es heute eine große
                Auswahl von on-demand Filmen, die man anschauen kann. Nicht
                selten über 100. Auf der Queen Victoria gibt es jeden Tag einen
                oder zwei (daran kann ich mich nicht mehr genau errinnern)
                Filme, die in Endlosschleife und in verschiedenen Sprachen auf
                einem eigenen Fernsehkanal gezeigt werden. Das ist nicht mehr
                zeitgemäß und sollte von Cunard verbessert werden.
              </p>
              <p>
                An Bord gibt es Sateliteninternet via WLAN. Allerdings so teuer
                (135 min Embarkation Special kostet 47,94 USD), das ich
                nicht mal kurz drüber nachgedacht habe. In der Bibliothek gibt
                es für alle die von diesen Kosten nicht zurückschrecken auch
                öffentliche Computer mit Internetzugang.
              </p>
              <p>
                In den öffentlichen Bereichen gibt es auch großes Fernseher,
                auf denen meistens ein Sportkanal läuft und bei denen sich z.B.
                zu Fussballspielen die Fans der jeweiligen Vereine zu einem
                alkoholischen Getränk treffen.
              </p>

              <h2>Royal Court Theatre</h2>
              <p>
                Im vorderen Teil des Schiffes erstreckt sich über drei Decks das
                Royal Court Theatre. Ich habe mir abends keine Show angeschaut,
                weil einfach nichts für meinen Geschmack dabei war. Tagsüber
                gibt es aber dort Vorträge von Guest Speakers. Ich habe mir
                zwei halbe Vorträge angeschaut. Den ersten nur zur Hälfte, weil
                er super langweilig war und den zweiten nur zur Hälfte, weil ich
                die Uhr falsch umgestellt hatte. Das war sehr ärgerlich, weil
                dieser Vortrag wirklich spannend war.
              </p>
              <p>
                Das Konzept der Guest Speaker ist cool. Man hat durch die
                Schiff-Situation die Möglichkeit mit einem Speaker auch nach dem
                Vortrag ins Gespräch zu kommen. Alle Speaker reisen ja als
                normale Passagiere und deshalb kann man sie auch durch Zufall
                auf dem Schiff treffen. Natürlich kann ich nicht sagen, ob das
                für den Speaker auch so schön ist.
              </p>

              <h2>Kasino</h2>
              <p>
                Klar, darf ein Kasino nicht fehlen. Ob das was taugt? Keine
                Ahnung. Ich bin 1-2 mal durch gegangen. Ich kenne mich aber mit
                Kasinos nicht aus. Auf jeden Fall ist es nicht so laut wie die
                großen Kasinos in Las Vegas.
              </p>

              <h2>Promenadendeck</h2>
              <p>
                Auf Deck 3 erstreckt sich rund um das ganze Schiff eine Art
                breiter Gehweg. Dort kann man Spazierengehen oder wer will auch
                Joggen. Es gibt Liegestühle (war aber kein Liegestuhlwetter).
                Das Promenadendeck ist relaxend und spannend. Man kann sich
                hinsetzen und den Leuten zuschauen oder einfach nur spazieren
                gehen und aufs Meer rausschauen.
              </p>
              <p>
                Zusätzlich gibt es auf dem Deck 10 noch Aussenbereiche, auf
                denen man spazieren gehen kann. Aber das Promenadendeck auf Deck
                3 hat einen eigenen und ganz besonderen Charme.
              </p>

              <div class="row">
                <div class="col-sm-4">
                  <article class="related-post">
                    <div class="post-preview">
                      <img src="/assets/schiffe/queen-victoria/L1000368-300x450.jpg" alt="Liegestühle auf dem Promenadendeck" class="img-fluid rounded">
                    </div>
                  </article>
                </div>
                <div class="col-sm-4">
                  <article class="related-post">
                    <div class="post-preview">
                      <img src="/assets/schiffe/queen-victoria/L1000349-300x450.jpg" alt="Jogger auf dem Promenadendeck" class="img-fluid rounded">
                    </div>
                  </article>
                </div>
                <div class="col-sm-4">
                  <article class="related-post">
                    <div class="post-preview">
                      <img src="/assets/schiffe/queen-victoria/L1000336-300x450.jpg" alt="Promenadendeck" class="img-fluid rounded">
                    </div>
                  </article>
                </div>
              </div>


              <h2>Kinder</h2>
              <p>
                Einer meiner Hauptinteressen bei dieser Tour war die Frage, ob
                ein solcher Ocean Liner für Familien geeignet ist.
              </p>

              <h3>Gefahren</h3>
              <p>
                Fangen wir erst mal mit den dramatischen Themen an: Ja, man kann
                über die Reling auf dem Promenadendeck steigen und ins Meer
                stürzen. Höchstwahrscheinlich gefolgt von einem grauseligen Tod
                durch ertrinken. Natürlich kann das Schiff anhalten und dann
                wird auch nach der vermissten Person gesucht. Aber die Chancen
                einen einzelnen Menschen treibend im offenen Meer zu finden sind
                nicht richtig groß. Und erfrohen ist man dann auch schnell.
              </p>
              <p>
                Wie wahrscheinlich ist das "mein Kind fällt über die Reling"
                Scenario? Extrem unwahrscheinlich. Ein Kind müsste schon
                absichtlich über die Reling klettern und das würde dann auch ganz
                schön Kraft und Geschicklichkeit fordern. Das kann nicht durch
                einen Ausrutscher oder einen Unfall beim Spielen passieren.
              </p>
              <p>
                In den Kabinen mit Balkon gibt es die Möglichkeit die Balkontür
                abzuschliessen und den Schlüssel mitzunehmen. Helikopterheltern
                könnten auch eine Kabine reservieren, bei der der Balkon über dem
                Balkon einer anderen Kabine ist. Dann würde man auf diesen Balkon
                fallen. Aber auch hier: Man kann nicht aus Versehen über die
                Balkon-Reling fallen!
              </p>
              <p>
                Sonstige Gefahren? Keine. Man könnte höchstens beim Spielen die
                Treppe runterfallen. So ein Schiff ist schon sehr sicher.
              </p>

              <h4>Krankheiten</h4>
              <p>
                Das böse <a
                href="https://de.wikipedia.org/wiki/Norovirus">Noro-Virus</a>
                ist der Albtraum aller Kreuzfahrer. Und ich kann es verstehen.
                Unsere Kinder haben mich zwei mal mit Noro aus dem Kindergarten
                angesteckt und so krank habe ich mich nie vorher und
                nie nachher gefühlt.
              </p>
              <p>
                Da Noro und Co. auf einem Schiff mit so vielen Menschen sich
                sehr schnell ausbreiten kann, gibt es auf dem ganzen Schiff
                Desinfektionsmittelspender. Vor jedem Restaurant steht ein
                Mitarbeiter mit einem Spender in der Hand. Das ist alles sehr
                gut organisiert. Die meisten Krankenhäuser haben ein größeres
                Ansteckungspotential.
              </p>

              <h4>Seekrankheit</h4>
              <p>
                Ich kam in den Genuß einer sehr stürmischen Überfahrt und hatte
                keine Probleme mit Seekrankheit. Merkwürdigerweise hatte ich am
                Abend meiner Rückkehr zu Hause leichte Probleme mit der
                Landkrankheit. Meinem Gleichgewichtsinn fehlte das sich
                bewegende Element.
              </p>
              <p>
                Das Schiff verfügt über Stabilitsatoren, die bei stürmischer See
                ausgefahren werden. Das sind seitliche Mini-Flügel, die einem <a
                href="https://de.wikipedia.org/wiki/Rollen_(Längsachse)">Rollen</a>
                des Schiffes entgegenwirken. Dadurch geht der Wellengang nicht
                weg, aber es ist ruhiger.
              </p>

              <h4>Arzt an Bord</h4>
              <p>
                Egal was passiert, es ist immer ein Arzt an Bord. Das ist schon
                ein sehr großer Luxus.
              </p>

              <h3>Spielbereiche</h3>
              <p>
                Es gibt zwei Spielebereiche für Kinder in unterschiedlichen
                Altersstuffen. Diese kann man mit der Key-Karte betretten. An
                Deck gibt es allerlei Spiele (z.B. Tischtennis, Dame, Tennis,
                usw.).
              </p>
              <p>
                An sonsten ist das ganze Schiff natürlich ein großer
                Abenteuerspielplatz. Man kann sehr viel entdecken und
                beobachten. Das Personal erscheint mir sehr kinderfreundlich.
              </p>

              <h3>Essen</h3>
              <p>
                Das Lido Restaurant ist sehr gut für Kinder geeignet. Da findet
                sich auch für jeden Geschmack etwas. Bei den anderen Restaurants
                sollten die eigenen Kinder aber in der Lage sein, auch mal eine
                Stunde still zu sitzen und ruhiger zu sein.
              </p>

              <h3>Unterbringung</h3>
              <p>
                Es gibt Kabinen, die ausklappbare zusätzliche Betten haben.
                Diese Kabinen kann man dann mit bis zu 2 Erwachsenen und 2
                Kindern belegen. Die Kinder bekommen dann abhängig vom Alter
                einen Sonderpreis (z.B. 60% Rabatt auf den vollen Preis).
              </p>
              <p>
                Leider gibt es nicht die Möglichkeit zwei Kabinen mit
                Verbindungstür zu buchen. Verbindungstüren gibt es einfach nicht.
              </p>

              <h2>Hamburg</h2>
              <p>
                Die Anreise über die Alster ist spannend. Ich war um 05:00 Uhr
                morgens wach und habe mir von meinem Balkon die vorbeiziehenden
                Häuser angeschaut. Später bin ich dann auf das Promenadendeck
                gegangen und habe mir das Anlegemanöver angeschaut.
              </p>
              <p>
                Die Passagiere, die von Bord gehen müssen bis zu einer
                bestimmten Uhrzeit das Schiff verlassen (ca. 09:30 Uhr). Vorher
                kann man noch Frühstücken. Großes Gepäck kann man dann an Land
                abholen. Es gibt einen relativ günstigen Bustransfer zum
                Bahnhof oder in die Innenstadt. Alternativ kann man auch mit dem
                Taxi fahren (ca. 25 Euro). Zu Fuss ist es ein wenig weit.
              </p>

              <div class="row">
                <div class="col-sm-6">
                  <article class="related-post">
                    <div class="post-preview">
                      <img src="/assets/schiffe/queen-victoria/L1000503-800x533.jpg" alt="Liegestühle auf dem Promenadendeck" class="img-fluid rounded">
                    </div>
                    <div class="post-header">
                        <h6>Die Queen Victoria an der Anlegestelle in Hamburg.</h6>
                    </div>
                  </article>
                </div>
                <div class="col-sm-6">
                  <article class="related-post">
                    <div class="post-preview">
                      <img src="/assets/schiffe/queen-victoria/L1000515-800x533.jpg" alt="Jogger auf dem Promenadendeck" class="img-fluid rounded">
                    </div>
                  </article>
                </div>
              </div>

              <h2>Empfehlung?</h2>

              <div class="row">
                <div class="col-sm-6">
                  <p>Auf jeden Fall!
                    Ich bin ein eher schwieriger Kunde und finde
                    fast überall etwas zu mäckeln. Mir hat aber diese kurze Tour
                    sehr viel Spass gemacht. Ich werde auf jeden Fall versuchen in
                    Zukunft mal eine Transatlantikreise mitzumachen.
                  </p>
                </div>
                <div class="col-sm-6">
                  <article class="related-post">
                    <div class="post-preview">
                      <img src="/assets/schiffe/queen-victoria/IMG_1947-600x799.jpg" alt="Selfie in Hamburg" class="img-fluid rounded">
                    </div>
                    <div class="post-header">
                        <h6>Ein Selfie kurz vorm Ausschiffen in Hamburg.</h6>
                    </div>
                  </article>
                </div>
              </div>

              <iframe width="560" height="315" src="https://www.youtube.com/embed/K-V2QoI7aq8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

              <div class="mt-5">
                <h6>Tags:</h6>
                <div class="tagcloud">
                  {% for category in page.categories %}
                  <a href="#">{{ category }}</a>
                  {% endfor %}
                </div>
              </div>

              {% include post-author-box.html %}
          </div>

      </article>
      <!-- Post end-->

      </div>
      <!-- Content end-->


<!-- Sidebar-->
<div class="col-lg-4">
    <div class="sidebar">

      {% include widgets/podcast_widget.html %}

      <aside class="widget">
          <div class="widget-title">Infokasten</div>

          <div class="about-widget">
            <address>
              <strong>Cunard Line</strong><br>
              Am Sandtorkai 38<br>
              20457 Hamburg
            </address>
            <address style="white-space:nowrap;overflow:hidden;text-overflow:ellipsis">
              <strong>Reservierungs-Hotline:</strong><br> <a href="tel:+49 40 415 33 555">040 415 33 555</a>
            </address>

            <a href="https://www.cunard.de/"><img src="/assets/schiffe/queen-victoria/cunard-homepage.png" alt="Screenshot der Cunard Homepage" class="img-fluid"></a>
            <a href="https://www.cunard.de/" class="btn-read-more mt-2">https://www.cunard.de/</a>

          </div>
      </aside>

        <!-- About widget-->
        <aside class="widget">
            <div class="widget-title">Liste der Cunard Schiffe</div>

            <div class="about-widget">
              <h3>Queen Mary 2</h3>
              <a href="https://www.cunard.de/unsere-schiffe/queen-mary-2/"><img src="/assets/schiffe/queen-victoria/queen-mary-2-homepage.png" alt="Screenshot der Cunard Homepage" class="img-fluid"></a>

              <ul>
                <li><a href="https://www.cunard.de/unsere-schiffe/queen-mary-2/">Queen Mary 2 Cunard Homepage</a></li>
                <li><a href="https://de.wikipedia.org/wiki/Queen_Mary_2">Queen Mary 2 auf Wikipedia</a></li>
              </ul>

              <h3>Queen Elizabeth</h3>

              <a href="https://www.cunard.de/unsere-schiffe/queen-elizabeth/"><img src="/assets/schiffe/queen-victoria/queen-elizabeth-homepage.png" alt="Screenshot der Cunard Homepage" class="img-fluid"></a>

              <ul>
                <li><a href="https://www.cunard.de/unsere-schiffe/queen-elizabeth/">Queen Elizabeth Cunard Homepage</a></li>
                <li><a href="https://de.wikipedia.org/wiki/Queen_Elizabeth_(Schiff,_2010)">Queen Elizabeth auf Wikipedia</a></li>
              </ul>

              <h3>Queen Victoria</h3>

              <a href="https://www.cunard.de/unsere-schiffe/queen-victoria/"><img src="/assets/schiffe/queen-victoria/queen-victoria-homepage.png" alt="Screenshot der Cunard Homepage" class="img-fluid"></a>

              <ul>
                <li><a href="https://www.cunard.de/unsere-schiffe/queen-victoria/">Queen Victoria Cunard Homepage</a></li>
                <li><a href="https://de.wikipedia.org/wiki/Queen_Victoria_(Schiff)">Queen Victoria auf Wikipedia</a></li>
              </ul>

            </div>
        </aside>


        <!-- Social widget-->
        {% include widgets/social_widget.html %}

      </div>
</div>
<!-- Sidebar end-->



    </div>

  </div> <!-- end container -->
</section>
