---
title:  "Schatzsuche auf der Festung Ehrenbreitstein"
subtitle: "Die Jagd nach der goldenen Kanonenkugel."
description: ""
teaser_text: "Mit der ganzen Familie 11 Rätsel lösen, um mit den Lösungen die goldene Kanonenkugel auf der Festung Ehrenbreitstein zu finden."
inserted_at: 2018-02-20 10:12:16 +0100
updated_at: 2018-02-20 10:12:16 +0100
categories: Familie Kinder Deutschland Podcast
hero_image: '/assets/2018/02/20/IMG_2110-1200x701.jpg'
hero_image_alt: 'Model der Queen Victoria'
layout: default


podcast_file: '/assets/podcasts/2018-02-20-schatzsuche-festung-ehrenbreitstein.mp3'
podcast_cover: '/assets/podcasts/cover/2018-02-20-schatzsuche-festung-ehrenbreitstein.jpg'
podcast_summary: "Mit der ganzen Familie 11 Rätsel lösen, um mit den Lösungen die goldene Kanonenkugel auf der Festung Ehrenbreitstein zu finden."
podcast_subtitle: "Die Jagd nach der goldenen Kanonenkugel."
duration: "11:21"
length: "16414346"
explicit: "no"
keywords: "Treasure, Family, Germany, Travelblog"
block: "no"
voices: "Stefan Wintermeyer"
---

<section class="section">
  <div class="container">
    <div class="row">
      <!-- Content-->
      <div class="col-lg-8">

        <!-- Post-->
        <article class="post">
            <div class="text-center post-header">
                {% for category in page.categories %}
                <a class="badge badge-custom" href="#" title="">{{ category }}</a>
                {% endfor %}

                <h1 class="post-title">{{ page.title }}</h1>
                <p>{{ page.subtitle }}</p>

                <a href="standard-post.html" title="" class="post-date">{{ page.inserted_at | date: '%d. %B %Y' }}</a>
            </div>

            <div class="post-preview">
               {% if page.hero_image == blank %}
                 <img src="/images/blog/blog-1.jpg" alt="" class="img-fluid rounded">
               {% else %}
                 <img src="{{ page.hero_image }}" alt="{{ page.hero_image_alt }}" class="img-fluid rounded">
               {% endif %}
            </div>

            <div class="blog-detail-description">
              <p>
                In den Wintermonaten (meist bis April) findet auf der <a
                href="http://diefestungehrenbreitstein.de">Festung
                Ehrenbreitstein</a> in Koblenz eine Schnitzeljagd für Kinder und
                Jugendliche statt. Allerdings nur am Wochenende und von  10:00
                bis 17:00 Uhr. Alle Teilnehmer bekommen eine von drei
                unterschiedlichen Rätselkarten. Jüngere Kinder bekommen
                einfachere und ältere schwierigere Fragen. So viel vorweg: Ohne
                Hilfe von Erwachsenen sind auch die einfachen Fragen nicht
                für Kinder alleine machbar. Dafür ist die Beschilderung und
                die Fragestellung zu suboptimal.
              </p>
              <p>
                Wir waren am Sonntag (18.01.2018) mit der ganzen Familie auf
                der Festung. Es war anstrengend und schwierig. Da unsere Kinder
                zwei unterschiedliche Fragebögen hatten, mussten wir 22 Fragen
                beantworten. Selbst wenn man das Lösungswort schon hat, muss man
                alle Fragen beantworten, um am Ende eine Urkunde mit Foto zu
                bekommen. Wenn Sie ein wenig weiter runterscrollen finden Sie
                auf dieser Seite Hilfe zu den Fragen.
              </p>
              <p>
                Unsere Kinder hatten Spaß. Ich habe die Gelegenheit genutzt und
                unseren ersten gemeinsamen Podcast produziert.
              </p>

              {% include widgets/podcast_player.html %}

              <div class="row">
                <div class="col-sm-6">
                  <article class="related-post">
                    <div class="post-preview">
                      <img src="/assets/2018/02/20/IMG_2098.jpg" alt="Promenadendeck (Achtern) auf Deck 3" class="img-fluid rounded">
                    </div>
                    <div class="post-header">
                        <h6>Im ersten Rätsel geht es um Klein- und Großkarierte Bettwäsche in den Soldatenstuben.</h6>
                    </div>
                  </article>
                </div>
                <div class="col-sm-6">
                  <article class="related-post">
                    <div class="post-preview">
                      <img src="/assets/2018/02/20/IMG_2099.jpg" alt="Links ein Schiff im Ärmelkanal. Rechts das Promenadendeck." class="img-fluid rounded">
                    </div>
                    <div class="post-header">
                        <h6>Blick auf das Deutsche Eck. Auch dazu gibt es Rätselfragen.</h6>
                    </div>
                  </article>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-6">
                  <article class="related-post">
                    <div class="post-preview">
                      <img src="/assets/2018/02/20/IMG_2103.jpg" alt="Promenadendeck (Achtern) auf Deck 3" class="img-fluid rounded">
                    </div>
                    <div class="post-header">
                        <h6>Die goldene Kanonenkugel!</h6>
                    </div>
                  </article>
                </div>
                <div class="col-sm-6">
                  <article class="related-post">
                    <div class="post-preview">
                      <img src="/assets/2018/02/20/IMG_2109.jpg" alt="Links ein Schiff im Ärmelkanal. Rechts das Promenadendeck." class="img-fluid rounded">
                    </div>
                    <div class="post-header">
                        <h6>Hier werden die Urkunden geschrieben.</h6>
                    </div>
                  </article>
                </div>
              </div>

              <h2>Lösungen</h2>
              <p>
                Für alle gestressten Eltern die genervt auf der Festung
                um­her­ir­ren:
              </p>
              <h3>Orangener Fragebogen 2018</h3>
              <table  class="table">
                <thead>
                  <tr>
                    <th scope="col">Nr.</th>
                    <th scope="col">Frage</th>
                    <th scope="col">Antwort</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1.</td>
                    <td>Turm ungenannt, 1 OG<br>Die Bettwäsche in der ersten
                    Soldatenstube ist kleinkariert. Im Gegensatz dazu ist
                    die in der zweiten eingerichteten Stube _____</td>
                    <td>Grosskariert</td>
                  </tr>
                  <tr>
                    <td>2.</td>
                    <td>Turm ungenannt, 1. OG<br>Im Zentrum der vierten Soldatenstube steht ein ____</td>
                    <td>Tisch</td>
                  </tr>
                  <tr>
                    <td>3.</td>
                    <td>Die Festung als Gefängnis<br>Wie viele Pistolen siehst du in der Vitrine?</td>
                    <td>Zwei</td>
                  </tr>
                  <tr>
                    <td>4.</td>
                    <td>Die Festung als Gefängnis<br>Welche Augenfarbe hat der Aufseher?</td>
                    <td>Braun</td>
                  </tr>

                  <tr>
                    <td>5.</td>
                    <td>Grabentor<br>Wie lautet der erste Name der drei Festungserbauer, die im Stein des Torbogens stehen?</td>
                    <td>Aster</td>
                  </tr>
                  <tr>
                    <td>6.</td>
                    <td>Minengang<br>Was benötigt man zum Sprengen?</td>
                    <td>Schwarzpulver</td>
                  </tr>
                  <tr>
                    <td>7.</td>
                    <td>Wache Poterne (Tunnel)<br>Welches Tier sitzt auf der Wanduhr?</td>
                    <td>Adler</td>
                  </tr>
                  <tr>
                    <td>8.</td>
                    <td>Nachkriegswohnung<br>Welche Motive sind auf der Tapete zu erkennen?</td>
                    <td>Blumen</td>
                  </tr>
                  <tr>
                    <td>9.</td>
                    <td>Ungarnkapelle<br>In welcher Farbe sind die Türen zur Ungarnkapelle gestrichen?</td>
                    <td>Braun</td>
                  </tr>
                  <tr>
                    <td>10.</td>
                    <td>Brunnendenkmal<br>Auf dem Deutschen Eck steht eine Statue von Kaiser Wilhelm I. Er sitzt auf einem ____?</td>
                    <td>Pferd</td>
                  </tr>
                  <tr>
                    <td>11.</td>
                    <td>Brunnendenkmal<br>Oben auf dem Brunnendenkmal ist eine _____?</td>
                    <td>Kugel</td>
                  </tr>
                </tbody>
              </table>

              <h3>Grüner Fragebogen 2018</h3>
              <table  class="table">
                <thead>
                  <tr>
                    <th scope="col">Nr.</th>
                    <th scope="col">Frage</th>
                    <th scope="col">Antwort</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1.</td>
                    <td>Feldtor<br>Aus wie vielen Gewehrscharten konnte vor dem Feldtor geschossen werden?</td>
                    <td>Elf</td>
                  </tr>
                  <tr>
                    <td>2.</td>
                    <td>Turm ungenannt, 1. OG<br>Wie viele Haken findest Du an der Decke der ersten Soldatenstube?</td>
                    <td>Acht</td>
                  </tr>
                  <tr>
                    <td>3.</td>
                    <td>Minengang<br>Wie nannte man die Soldaten, die die Minengänge gruben und dafür meist auch gelernte Bergleute waren?</td>
                    <td>Pioniere</td>
                  </tr>
                  <tr>
                    <td>4.</td>
                    <td>Haus der Archäologie, Mittelalter<br>Was ist das erste ausgestellte Objekt auf der linken Seite?</td>
                    <td>Brückenpfahl</td>
                  </tr>

                  <tr>
                    <td>5.</td>
                    <td>Haus der Archäologie, Altsteinzeit<br>Welchem Tier gehörte einst das Stoßzahnfragment?</td>
                    <td>Waldelefant</td>
                  </tr>
                  <tr>
                    <td>6.</td>
                    <td>Geschütze der Festung<br>Das Geschütz links von der Kanone Greif ist eine _____?</td>
                    <td>Festungskanone</td>
                  </tr>
                  <tr>
                    <td>7.</td>
                    <td>Geschütze der Festung<br>Mit der 7-pfündigen Haubitze konnte man Kugeln oder _____ schießen.</td>
                    <td>Granaten</td>
                  </tr>
                  <tr>
                    <td>8.</td>
                    <td>Versorgung der Festung<br>An welchem Ort befindet sich die Urinier-Anstalt?</td>
                    <td>Kriegslatrine</td>
                  </tr>
                  <tr>
                    <td>9.</td>
                    <td>Kurtine<br>Was hält der Preußische Adler in seiner rechten Klaue?</td>
                    <td>Zepter</td>
                  </tr>
                  <tr>
                    <td>10.</td>
                    <td>Das Gebäude, in dem sich heute ein Restaurant befindet, war die Obere ______.</td>
                    <td>Terrassenbatterie</td>
                  </tr>
                  <tr>
                    <td>11.</td>
                    <td>Brunnendenkmal<br>Am Deutschen Eck fließen die Flüsse Rhein und _____ zusammen.</td>
                    <td>Mosel</td>
                  </tr>
                </tbody>
              </table>

              <h3>Das Lösungswort</h3>
              <p>Das Lösungswort ist natürlich bei allen Fragebögen gleich: <strong>Landbastion</strong></p>
              <p>Die Fragebögen müssen aber ganz ausgefüllt sein. Sonst gibt es weder Süßigkeiten, noch einen Blick auf die goldene Kanonenkugel. Und auch keine Urkunde.</p>
              <p>Wo ist der Zugang zur Landbastion? Wenn Sie auf den großen Platz der Festung kommen und vor sich das Brunnendenkmal sehen, dann müssen Sie links rum gehen. Oder anders: Wenn Sie vom Brunnendenkmal auf den großen Platz schauen und das Denkmal auf 18:00 Uhr ist, dann ist die Landbastion auf etwa 13:00 Uhr (in der Ecke).</p>

              <div class="mt-5">
                <h6>Tags:</h6>
                <div class="tagcloud">
                  {% for category in page.categories %}
                  <a href="#">{{ category }}</a>
                  {% endfor %}
                </div>
              </div>

              {% include post-author-box.html %}
          </div>

      </article>
      <!-- Post end-->

      </div>
      <!-- Content end-->


<!-- Sidebar-->
<div class="col-lg-4">
    <div class="sidebar">
      <aside class="widget">
          <div class="widget-title">Infokasten</div>

          <div class="about-widget">
            <address>
              <strong>Festung Ehrenbreitstein</strong><br>
              56077 Koblenz
            </address>
            <address>
              <strong>Telefon:</strong><br> <a href="tel:+49 261 6675-0">0261 6675-0</a>
            </address>

            <a href="http://www.diefestungehrenbreitstein.de/"><img src="/assets/2018/02/20/screenshot-festung-ehrenbreitstein-homepage.png" alt="Screenshot der Festung Ehrenbreitstein Homepage" class="img-fluid"></a>
            <a href="http://www.diefestungehrenbreitstein.de/" class="btn-read-more mt-2">www.diefestungehrenbreitstein.de</a>

          </div>
      </aside>

        <!-- About widget-->
        <aside class="widget">
            <div class="widget-title">Anreise</div>

            <div class="about-widget">
              <h3>Seilbahn</h3>
              <p>Von der Talstation in den Rheinanlagen (Konrad-Adenauer-Ufer, 56068 Koblenz) über den Rhein schweben.
              <a href="https://www.seilbahn-koblenz.de">www.seilbahn-koblenz.de</a></p>

              <a href="https://www.seilbahn-koblenz.de"><img src="/assets/2018/02/20/seilbahn-screenshot.png" alt="Screenshot der Seilbahn Homepage" class="img-fluid"></a>

              <h3>Schrägaufzug</h3>
              <p>Es gibt nicht nur eine Seilbahn, sondern auch noch einen
                Schrägaufzug vom Stadtteil Ehrenbreitstein aus
                (Vor dem Sauerwassertor, 56077 Koblenz).
              <a href="http://www.schraegaufzug-ehrenbreitstein.de">www.schraegaufzug-ehrenbreitstein.de</a></p>

              <a href="http://www.schraegaufzug-ehrenbreitstein.de"><img src="/assets/2018/02/20/schraegaufzug-screenshot.png" alt="Screenshot der Schrägaufzug Homepage" class="img-fluid"></a>

              <h3>Bus</h3>
              <p>Bus bis Haltestelle <i>Festungsaufzug / Jugendherberge</i> (Linien 9 und 10, weiter mit Schrägaufzug) oder <i>Ehrenbreitstein Bahnhof</i> (Linie 8, ca. 10 Minuten Fußweg, weiter mit Schrägaufzug).
Bahn bis Bahnhof <i>Koblenz-Ehrenbreitstein</i> (ca. 10 Minuten Fußweg, weiter mit Schrägaufzug).
              <a href="https://www.evm.de">www.evm.de</a></p>

              <a href="https://www.evm.de"><img src="/assets/2018/02/20/evm-screenshot.png" alt="Screenshot der EVM Homepage" class="img-fluid"></a>

              <h3>Auto</h3>
              <p>Auto
              Adresse für Navigationsgeräte: Greiffenklaustraße, 56077 Koblenz<br>
              Kostenpflichtige Parkplätze direkt an der Festung Ehrenbreitstein.</p>

              <h3>Fahrrad</h3>
              <p>
              Adresse für Navigationsgeräte: Greiffenklaustraße, 56077 Koblenz<br>
              Für e-Bikes gibt es am Parkplatz eine kostenlose Ladestation.
              </p>

            </div>
        </aside>

        <!-- Social widget-->
        {% include widgets/social_widget.html %}
      </div>
</div>
<!-- Sidebar end-->



    </div>

  </div> <!-- end container -->
</section>
