{% if page.podcast_file and page.podcast_subtitle and page.podcast_cover %}
  <div class="pcast-player">
    <div class="pcast-player-controls">
      <div class="row">
        <div class="col-lg-10 col-md-12 my-auto">
          <h5 class="pcast-headline">{{ page.podcast_subtitle }}</h5>
          <amp-audio width="auto"
            height="50"
            src="{{ page.podcast_file }}"
            artwork="{{ page.podcast_cover }}"
            title="{{ page.podcast_subtitle }}"
            album="reisepassnummer.de"
            artist="Stefan Wintermeyer"
            controlsList="nodownload">
            <div fallback><p>Your browser doesn’t support HTML5 audio</p></div>
          </amp-audio>
          <a class="badge badge-podcast pcast-download" href="{{ page.podcast_file }}" download><i class="fa fa-download" aria-hidden="true"></i>&nbsp;MP3 download</a>
          <a class="badge badge-podcast pcast-itunes" href="https://itunes.apple.com/de/podcast/reisepassnummer/id1350502461?mt=2"><i class="fa fa-music" aria-hidden="true"></i>&nbsp;Podcast auf iTunes</a>
          <a class="badge badge-podcast pcast-rss" href="https://www.reisepassnummer.de/podcast.xml"><i class="fa fa-rss" aria-hidden="true"></i>&nbsp;RSS Feed</a>
        </div>
        <div class="col-md-2 my-auto hidden-xs hidden-sm">
          <img class="pcast-thumbnail" src="{{ page.podcast_cover }}" alt="podcast thumbnail">
        </div>
      </div>
    </div>
  </div>
{% endif %}
