<aside class="widget">
    <div class="widget-title">Podcast</div>

    <div class="about-widget">
      <p>Zu diesem Beitrag gibt es einen {{ page.duration }} min. Podcast.</p>
      <ul>
        <li><a href="https://www.reisepassnummer.de/podcast.xml">RSS Feed aller Reisepassnummer-Podcasts.</a><li>
      </ul>
      <a href="https://itunes.apple.com/de/podcast/reisepassnummer/id1350502461?mt=2" style="display:inline-block;overflow:hidden;background:url(https://linkmaker.itunes.apple.com/assets/shared/badges/de-de/podcast-lrg.svg) no-repeat;width:133px;height:34px;background-size:contain;"></a>
    </div>
</aside>
